
.bg {
    position: fixed;
    inset: 0;
    background: url('back.png') center/cover no-repeat;
    filter: blur(7px) brightness(0.8);
    z-index: -2;
       transform: scale(1.1); 
       transform-origin: center;
}

.bg::after {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45); /* 45% transparent black */
    z-index: -1;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.partner-app-logo{
    width: 50px;
    height: 50px;
    
}
.partner-navbar-img-menu{
    text-decoration: none;
    color: black;
    
}
.partner-navbar-img-menu:hover{
   color: #339bf1;
   transition: all ease-in 0.3s;
   cursor: pointer;
}
.partner-app-head{
    margin-top: 5px;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 100;
    
    text-shadow: 1px 1px 5px rgb(183, 235, 255);
}
.partner-app-hr{
  width: 130px;
  margin-bottom: 30px;
   height: 0.1px;
  background-color: rgb(211, 211, 211);
}
.partner-app-head-changelines-line{
    font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-size: xx-large;
    background: linear-gradient(90deg,#cecece,#7bc8ff,#b3e2fa,#ffffff );
    -webkit-background-clip: text;
     color: transparent;
     transition: all ease-in-out 2s;
}

.partner-login{
    margin-top: 100px;
      background-color: #fdfdfd; 
   width: fit-content;
  height: fit-content;
  border: 1px solid rgb(228, 227, 227);
  padding: 30px;
  border-radius: 10px;
    
}
.partner-login-head{
      font-size: x-larger;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.partner-login-p1{
    font-family: 'Times New Roman', Times, serif;
    color: #616060;
}
.partner-login-input{
    margin-top: 15px;
    display: block;
    width: 320px;
    height: 30px;
   font-size: large;
   border-radius: 4px;
   border: 0.2px solid rgb(174, 174, 174);
}
.partner-login-input:focus{
    outline: none;
}
.partner-login-input::placeholder{
    color: #b0afaf;
}
.partner-login-button{
    width: 325px;
    height: 30px;
    margin-top: 10px;
    background-color: #76bcf5;
    border: 0.4px solid rgb(86, 86, 86);
    color: white;
    font-size: large;
    margin-bottom: 10px;
}
.partner-login-button:hover{
   cursor: pointer;
    background-color: #339bf1;
    
}
.partner-login-p2{
    font-family: 'Times New Roman', Times, serif;
    color: #818080;
}
.errorlist{
    color: red;
    list-style-type: none;
}

.loginhref{
    margin-top: 30px;
    color: black;
    /* text-decoration: none; */
    font-size: larger;
    transition:all ease 0.3s;
}
.loginhref:hover{

    color: rgb(42, 134, 255);
  
    
    
}


/* main page css */
.partner-1{
     position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 0.1px solid rgb(222, 222, 222);
    background-color: #ffffff;
    font-family: sans-serif;
}

.partner-navbar{
   
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 60px;
    

}

.partner-navbar-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
gap: 80px;
}
.partner-navbar-2-1{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.partner-navbar-1{
    display: flex;
    align-items: center; 
    gap: 10px;
}
.partner-navbar-3{
      display: flex;
    align-items: center; 
    gap: 10px;
  
    position: relative;
}

.profile-list{
     
   display: none;

    background: #000000;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding:5px 20px;
    width: 120px;
    position: absolute;
  right: -40px;   
   cursor: pointer;
}
.partner-navbar-img-logo{
    width: 40px;
    height: 40px;
}

.partner-navbar-3:hover .profile-list{
    display: block;
 
    cursor: pointer;
}
.partner-navbar-img-title{
    text-decoration: none;
    color: black;
}
.profile-list:hover{
   
      cursor: pointer;
      color: rgb(102, 196, 255);
}
.profile-list-li{
    margin-top: 5px;
    list-style: none;
}
.partner-navbar-img{
    width: 14px;
    height: 14px;
}
.profile-list-li-1{
    color: #ffffff;
    text-decoration: none;
  
}
.profile-list-li-1:hover{
       
    color: #7bc8ff;
    text-decoration: none;
}
.partner-navbar-signin{
    text-decoration: none;
    color: #000000;
    transition: all ease 0.3s;
}
.partner-navbar-signin:hover{

    text-decoration: none;
    color: #3a88f5;
}
.navbar-username{
    cursor: pointer;
}

.partner-2{
    margin-top: 60px;
}
.partner-navbar-img-title:hover{
   color: #339bf1;
   transition: all ease-in 0.3s;
   cursor: pointer;
}

/* profile page */

.partner-body{
    margin: -20px;
   padding: 0px;
   margin-top: -10px;
    overflow-x: hidden;
    overflow-y: hidden;
}


.Partner-profile{
    display: flex;
     
}
.partner-profile-1{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 350px;
    padding: 10px;
    height: 100vh;
    background: linear-gradient(180deg,#a6f5ff,#87c4f6,#3b9ff1);
}
.partner-profile-1-img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all ease-in 0.1s;
}
.partner-profile-1-img:hover{
   transform: scale(1.1);
    
}
.partner-profile-1-head{
    
 font-size: xx-large;
 font-family: sans-serif;
 word-break: keep-all;
 margin-top: 59px;
 color: #5d5d5d;
  background: linear-gradient(90deg, #5d5e61,#02266f,#4f4f4f);
    -webkit-background-clip: text;
    color: transparent;
 
}
.partner-profile-1-div{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    font-family: serif;
}
.partner-profile-1-div1 , .partner-profile-1-div2, .partner-profile-1-div3{
    display: flex;
   
    gap: 20px;
    margin-top: 15px;
    align-items: center;
    font-family: sans-serif;
}

.partner-profile-1-div1-circle{
    width: 55px;
    height: 55px;
    border-radius: 50px;
    /* border: 1px solid #000000; */
    background-color: #ffffff;
}
.partner-profile-1-div1-p{
    font-size: x-large;
    background: linear-gradient(90deg, #191919,#3c3b3b,#4f4f4f);
    -webkit-background-clip: text;
    color: transparent;
}

.partner-profile-2{
    flex: 1;   
    margin-left: 400px;
    
}

.partner-profile-2-head1{
      font-size: 40px;
    color: white;
    display: block;
    width: 100%;
    background: linear-gradient(90deg,#2275e2,#58adf2,#8dc0ea);
    padding: 2px 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.partner-profile-2-nav{
    /* border-bottom: 0.2px solid rgb(183, 180, 180); */
    padding: 1px;
}
.partner-profile-2-div1{
    /* border: 1px solid #000; */
    height: 84vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding:5px;
}
.partner-profile-2-head2{
    font-size: xx-large;
font-family: Arial, Helvetica, sans-serif;
 background: linear-gradient(90deg, #13097b,#3c3b3b,#4f4f4f);
    -webkit-background-clip: text;
    color: transparent;
    border: 0.1px solid rgb(212, 212, 212);
    width: fit-content;
    border-radius:10px ;
    box-shadow: 1px 1px 5px 1px #3b9ff1;
    padding:4px 10px;
    
}


.partner-profile-2-restaurant-p{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 3px;
}
.partner-all-p{
    font-size: larger;
    font-family: sans-serif;
}
.partner-profile-2-restaurantdetails-div{
    margin-left: 20px;
}
.Restaurant-name{
    width: 500px;
    height: 49px;
    margin-bottom: 20px;
    font-size: large;
    border-radius: 10px;
    border: 0.2px solid rgb(83, 82, 82);
    padding: 3px;
}
.Restaurant-name:focus{
  outline: none;
box-shadow: 1px 1px 4px 1px #3a88f5;
 border-radius: 10px;
    border: 0.2px solid rgb(83, 82, 82);
    cursor: pointer;
}


.Restaurant-type{
    width:400px;
    height: 40px;
    font-size: large;
    margin-bottom: 20px;
    padding: 3px;
}
.Restaurant-type:focus{
    outline: none;
box-shadow: 1px 1px 4px 1px #3a88f5;
    font-size: x-large;
    cursor: pointer;
}
.Restaurant-cuisines{
     width: 500px;
    height: 49px;
    margin-bottom: 20px;
    font-size: large;
    border-radius: 10px;
    border: 0.2px solid rgb(83, 82, 82);
    padding: 3px;
    
}
.Restaurant-cuisines:focus{
   outline: none;
box-shadow: 1px 1px 4px 1px #3a88f5;
    
    cursor: pointer;
}
.Restaurant-description{
      width: 1000px;
    height: 109px;
    margin-bottom: 20px;
    font-size: large;
    border-radius: 10px;
    border: 0.2px solid rgb(83, 82, 82);
    padding: 3px;
}
.Restaurant-description:focus{
       outline: none;
box-shadow: 1px 1px 4px 1px #3a88f5;
    
    cursor: pointer;
}
.Restaurant-img{
     display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}
.partner-profile-2-restaurantdetails{
    border: 0.2px solid #9b9b9b;
    padding: 5px;
    background-color: #d1eaff;
    border-radius: 10px;
    margin-bottom: 30px;
}
.partner-profile-2-restaurant-p{
    font-weight: bolder;
    width: fit-content;
    border: 0.2px solid rgb(165, 165, 165);
    padding: 3px 5px;
    color: #fafafa;
    border-radius: 10px;
    background-color: #549bff;
}
.Restaurant-location{
     width: 500px;
    height: 49px;
    margin-bottom: 20px;
    font-size: large;
    border-radius: 10px;
    border: 0.2px solid rgb(83, 82, 82);
    padding: 3px;
}
.Restaurant-location:focus{
   outline: none;
box-shadow: 1px 1px 4px 1px #3a88f5;
    
    cursor: pointer;
}
.Restaurant-time{
     width: 200px;
    height: 49px;
    margin-bottom: 20px;
    font-size: large;
    border-radius: 10px;
    border: 0.2px solid rgb(83, 82, 82);
    padding: 3px;
}
.isopen-flex{
    display: flex;
    
}
.partner-profile-submit-button{
    margin: 20px ;
    background-color: #ffffff;
    width: 200px;
    height: 40px;
    border: 0.6px solid #807f7f;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}
.partner-profile-submit-button:hover{
   background-color: #2275e2;
   color: rgb(227, 227, 227);
}

.partner-button-flex{
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    margin-bottom: 30px;


}


/* menu page */
.partner-menu{
    margin-top: 70px;
}
.partner-menu-buttons{
    display: flex;
    gap: 40px;
    margin-left: 30px;
}
.partner-menu-buttons-i{
    background-color: rgb(255, 255, 255);
    padding: 13px 25px;
    border-radius: 10px;
    border: 0.4px solid #5c5c5c;
    color: #4f4f4f;
    transition: all ease 0.3s;
    position: relative;
}
.partner-menu-buttons-i:hover{
    
    border: 0.4px solid #1044bb;
    color: #4f4f4f;
    box-shadow: 1px 1px 3px 1px#1044bb;
    cursor: pointer;
}

.partner-menu-data-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
    
}
.partner-menu-data-top-img{
    width: 39px;
    height: 39px;
}
.partner-menu-data-top-h{
    font-family: sans-serif;
    font-weight: 400;
}
.partner-menu-break{
    height: 0.7px;
    margin-inline:29px ;
    border: 0.8px solid #cccaca;
    background-color: #dfdfdf;
}
.partner-menu-data-bottom{
    margin-inline: 29px;
}
.partner-menu-data-category-data-head{
    font-family: sans-serif;
    background-color: #aad9ff;
    
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-radius: 10px; */
    cursor: pointer;
}
.partner-menu-data-category-data-head1{
   font-size: medium;
   color: rgb(52, 52, 52);
    margin-inline:10px;
}
.partner-menu-data-category-data-head2{
    width: 25px;
    height: 25px;
   font-size: medium;
   color: white;
   margin-right: 10px;
  

}
.partner-menu-data-item-data{
    border: 0.2px solid rgb(192, 191, 191);
}
.partner-menu-data-item{
    display: flex;
    justify-content: space-between;
    margin-inline: 20px;
    font-family: sans-serif;
    margin-top: 10px;
    cursor: pointer;
}
.partner-menu-data-item-div1-itemname{
    width: 250px;
    height: 30px;
    font-size: medium;
    border: 0.2px solid #bbb8b8;
    border-radius: 3px;
    font-family: sans-serif;
}
.partner-menu-data-item-div1-itemname:focus{
   outline: none;
   box-shadow: 1px 1px 2px 1px#8792ab;
}
.partner-menu-data-item-div1-itemprice{
    margin-top: 4px;
   color: #4d4c4c;
   display: block;
    width: 250px;
    height: 30px;
    font-size: medium;
    border: 0.2px solid #bbb8b8;
    border-radius: 3px;
    font-family: sans-serif;
   
}
.partner-menu-data-item-div1-itemprice:focus{
   outline: none;
   box-shadow: 1px 1px 2px 1px#8792ab;
}
.partner-menu-data-item-div1-itemdescrip{
     margin-top: 4px;
   color: #4d4c4c;
   display: block;
    width: 450px;
    height: 70px;
    font-size: small;
    border: 0.2px solid #bbb8b8;
    border-radius: 3px;
    font-family: sans-serif;
    resize: none;
    
}
.marging-menu-items{
    margin-inline:10px ;
    border: 1px solid #d1d1d1;
    margin-top: 18px;
}
.partner-menu-data-item-div1-itemdescrip:focus{
   outline: none;
   box-shadow: 1px 1px 2px 1px#8792ab;
}
.partner-menu-data-item-div1-itemtype{
    margin-top: 10px;
    width: 130px;
    height: 30px;
    border: 0.3px solid #929191;
    color: #686868;
    font-size: small;
}
.partner-menu-data-item-div1-itemtype:focus{
   outline: none;
   box-shadow: 1px 1px 2px 1px#8792ab;
}
.partner-menu-data-item-div1-itemavailable{
    display: block;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    border: 0.3px solid #929191;
}
.partner-menu-data-item-div1-itemavailable:focus{
   outline: none;
   box-shadow: 1px 1px 2px 1px#8792ab;
}
.partner-menu-data-item-div1-itemaimage{
   display: flex;
   flex-direction: column;
}
.partner-menu-data-item-div1-itemaimage1{
    width: 175px;
    height: 175px;
    border-radius:10px ;
}
.partner-menu-data-item-div1-itemimgchnge{
    margin-top: 10px;
    background-color: #a1d8f7;
    border: none;
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
    transition: all ease 0.2s;
}
.partner-menu-data-item-div1-itemimgchnge:hover{
    margin-top: 10px;
    background-color: #50aff4;
    border: 0.2px solid rgb(169, 169, 169);
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
    color: #ffffff;

}

.partner-add-category-div{
    border-radius: 10px;
    /* border: 0.2px solid rgb(120, 116, 116); */
    width: fit-content;
    padding: 20px;
    position: absolute;
   top: 120px;
   background-color: rgb(206, 233, 255);
}
.partner-add-category-div-elem1{
    text-align: center;
    font-size: larger;
    font: 200;
    font-family: sans-serif;
    color: rgb(60, 59, 59);
}
.partner-add-category-div-elem2{
    width: 325px;
    height: 30px;
    font-size: small;
    font: 200;
    font-family: sans-serif;
    display: block;
    border-radius: 2px;
    border: 0.1px solid rgb(167, 164, 164);
    margin-bottom: 10px;
    margin-top: 8px;
}
.partner-add-category-div-elem2:focus{
    outline: none;
    box-shadow: 1px 1px 4px 0.1px #2275e2;
    
}
.partner-add-category-div-elem3{
  margin-top: 20px;
  margin-right: 50%;
  margin-left: 40%;
  background-color: #ffffff;
     border: 0.1px solid rgb(167, 164, 164);
     padding: 5px;
     border-radius: 5px;
  
}
.partner-add-category-div-elem3:hover{
  
  background-color: #0c90ee;
  color: white;
  cursor: pointer;
  

}

/* orders page css  */

.partner-orders{
    margin-top: 6rem;
    margin-inline: 6rem;
    position: fixed;
    inset: 0;
}
.partner-orders-top{
    display: flex;
    justify-content: space-between;
    margin-inline: 14rem;
}
.partner-orders-top-button{
    background-color: white;
    border: 0.2px solid #7b7b7b;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 8px;
    font-family: sans-serif;
}
.partner-orders-current-orders{
    height: 700px;
    overflow-y: auto;
}
.partner-orders-top-button:hover{
   color: rgb(83, 158, 207);
   box-shadow: 1px 1px 1px 1px #0c90ee;
}
.partner-orders-current-orders-div{
    display: flex;
    border: 0.1px solid rgb(218, 216, 216);
    justify-content: space-between;
    padding-inline: 20px;
    border-radius: 5px;
    align-items: center;
    margin-top: 30px;
}
.partner-orders-current-orders-div-1-elem1{
    font-family: sans-serif;
    width: fit-content;
   

}
.partner-orders-current-orders-div-1-elem1-child{
    font-size: large;
    color: #ffffff;
    background: linear-gradient(90deg,#156cee,#85bcff,#51abf0,#7ec1f7,#156cee);
   -webkit-background-clip: text;
   color: transparent;
   
   
}
.partner-orders-current-orders-div-1-elem2{
    /* border: 0.1px solid rgb(193, 193, 193); */
  
    padding:5px 10px;
    border-radius: 4px;
    background-color: #c9e7ff;
    margin-bottom: 10px;
}
.partner-orders-current-orders-div-1-elem2-child{
    font-size: small;
    font-family: sans-serif;
    font-weight: 400;
}
.partner-orders-current-orders-div-1-elem2-child-head{
text-align: center;
font-size: small;
font-family: sans-serif;
  font-weight: 400;
}
.partner-orders-current-orders-div-2{
   
display: flex;
      gap: 10px;
}
.partner-orders-current-orders-div-2-elem1{
 border: 0.1px solid rgb(193, 193, 193);
  height: 150px;
    padding:5px 6px;
    border-radius: 4px;
   width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}
.partner-orders-current-orders-div-2-elem1-head{
    font-size: larger;
font-family: sans-serif;
  font-weight: 400;
  background-color: #eaf0ff;
  width: fit-content;
  padding: 2px;
  color: rgb(118, 115, 115);
  border-radius: 4px;
}
.partner-orders-current-orders-div-2-elem2{
margin-top: 40px;
align-content: end;


}
.partner-orders-current-orders-div-2-elem2-child{
    
     font-size: larger;
font-family: sans-serif;
  font-weight: 1000;
  color: #319be8;
  background-color: #e7e7e7;
  padding: 2px;
  border-radius: 2px;

}

.partner-orders-current-orders-div-3-elem2{
    font-size: small;
    font-family: sans-serif;
     display: flex;
     gap: 40px;
     margin-top: 20px;
}
.partner-orders-current-orders-div-3-elem2-child1{
    font-size:medium;
    font-family: sans-serif;
    font-weight: 300;
    /* border: 0.1px solid rgb(193, 193, 193); */
    padding:6px;
    border-radius:6px;
    background-color: rgb(18, 222, 21);
    color: white;
    cursor: pointer;
}
.partner-orders-current-orders-div-3-elem2-child2{
    font-size:medium;
    font-family: sans-serif;
    font-weight: 300;
    /* border: 0.1px solid rgb(193, 193, 193); */
    padding:6px;
    border-radius:6px;
     background-color: rgb(255, 59, 59);
     color: white;
      cursor: pointer;
}
.partner-orders-current-orders-div-3-elem2-child2:hover{
    font-size:medium;
    font-family: sans-serif;
    font-weight: 300;
    /* border: 0.1px solid rgb(193, 193, 193); */
    padding:6px;
    border-radius:6px;
     background-color: rgb(201, 19, 19);
     color: white;
      cursor: pointer;
}
.partner-orders-current-orders-div-3-elem2-child1:hover{
    font-size:medium;
    font-family: sans-serif;
    font-weight: 300;
    /* border: 0.1px solid rgb(193, 193, 193); */
    padding:6px;
    border-radius:6px;
     background-color: rgb(6, 185, 9);
     color: white;
      cursor: pointer;
}
.partner-orders-current-orders-div-3-elem1{
       border: 0.1px solid rgb(193, 193, 193);
       padding: 5px;
       border-radius: 3px;
}
.partner-orders-current-orders-div-3-elem1-child1{
       font-size:medium;
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
}
.partner-orders-current-orders-div-3-elem1-child2{
       font-size:x-large;
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
}


/* partner main */

.partner-main{
    margin-top: 70px;
    position: fixed;
    inset: 0;
}
.partner-main-div1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;
}
.partner-main-div1-1{
    width: 17px;
    height: 17px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}
.partner-main-div1-1:hover{
   scale: 1.5;
   border-radius: 20px;
   
}
.partner-main-div1-2{
   font-family: sans-serif;
   font-size: medium;
   cursor: pointer;
   transition: all ease-in-out 0.2s;
}
.partner-main-div1-2:hover{
 scale: 1.5;
   border-radius: 20px;
}
.partner-main-div2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline: 280px;
    margin-top: 20px;
    
  
}
.partner-main-div2-elem1{
    width: 400px;
    height: 300px;
    border:0.1px solid #c9c7c7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: sans-serif;
    background: linear-gradient(90deg,#a2d4ff,#73b3eb,#a9cff0);
    transition: all ease-in 0.2s;
    cursor: pointer;
}
.partner-main-div2-elem1:hover{
    scale: 1.05;
}
.partner-main-div2-elem2{
       width: 400px;
    height: 300px;
    border:0.1px solid #c9c7c7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: sans-serif;
    background: linear-gradient(90deg,#a2ffdd,#73eba9,#a9f0bb);
    transition: all ease-in 0.2s;
    cursor: pointer;
}
.partner-main-div2-elem2:hover{
    scale: 1.05;
}

.partner-main-div2-elem3{
      width: 400px;
    height: 300px;
    border:0.1px solid #c9c7c7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: sans-serif;
    margin-top: 20px;
    background: linear-gradient(90deg,#ffb6a2,#eb7d73,#f0b2a9);
     transition: all ease-in 0.2s;
    cursor: pointer;
}
.partner-main-div2-elem3:hover{
    scale: 1.05;
}
.partner-main-div2-elem4{
      width: 400px;
    height: 300px;
    border:0.1px solid #c9c7c7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: sans-serif;
     margin-top: 20px;
     background: linear-gradient(90deg,#ecffa2,#dfeb73,#f0f0a9);
     transition: all ease-in 0.2s;
    cursor: pointer;
}
.partner-main-div2-elem4:hover{
    scale: 1.05;
}
.partner-main-div2-elem1-1{
  color: rgb(255, 255, 255);
}
.partner-main-div2-elem1-2{
     color: rgb(74, 74, 74);
     font-size: 60px;
}
#addcategory{
    display: none;
    transition: all ease-in 0.2s;
}
#additem{
    display: none;
     transition: all ease-in 0.2s;
}