{% extends 'navbar-cart.html' %}
{% load static %}
{% block css%}
<link rel="stylesheet" href="{% static 'cart/csscart.css'%}">
{% endblock %}
{% block body %}
<div class="cart-section" id="CART-SECTION">
<div class="cart-top">
     <div class="cart-top-addresses">
           <img class="cart-top-addresses-img" src="https://cdn-icons-png.flaticon.com/128/6218/6218733.png">
           <p class="cart-top-addresses-p">choose a delivery address</p>
           <button class="cart-top-addresses-button" type="button" onclick="opencartx()">add +</button>
     </div>
     
</div>
<div class="cart-main">
      {% if not cart  %}
      <div class="cart-main-card" id="cart-main-card-no-items">No cart Items <img src="https://cdn-icons-png.flaticon.com/128/13539/13539700.png" alt=""></div>
      {% else %}
     <div class="cart-main-card">
            <div class="cart-main-card-restaurant" >
                <img class="cart-main-card-restaurant-img"  src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_100,h_100,c_fill/RX_THUMBNAIL/IMAGES/VENDOR/2025/9/1/41b0492e-3e4e-4b8a-8f7b-bed178cc209b_695745.JPG">
                <div class="cart-main-card-resdetails">
                    <h4>{{restaurant.Name}}</h4>
                    <h5>{{restaurant.Location}}</h5>
                </div>
            </div>
            <div class="cart-main-card-items">
                <h2 class="cart-main-card-items-heading">Items</h2>
                 <div class="cart-main-card-items-list">
                  {% for i in cart %}
                   {% include "cart/cartpartial.html" %}
                  {% endfor %}
                  </div>
            </div>

            <div class="cart-main-card-coupons">
                 <img class="cart-main-card-coupons-img" src="https://cdn-icons-png.flaticon.com/128/879/879757.png">
                 <span >Apply coupon</span>
                  <h1 class="not-available-coupans">no coupon available</h1>
            </div>
            <div class="cart-main-card-bill">
                   <h5 class="cart-main-card-bill-heading">Bill Details</h5>
                   <div class="cart-main-card-bill-div1">
                   <p ></p>
                   <span>₹{{total}}</span>
                   </div>
                   <div  class="cart-main-card-bill-div2">
                   <p>Delivery fee | 10.4kms</p>
                   <span>₹0</span>
                   </div>

                   <hr class="cart-main-card-bill-hr1">

                   <div  class="cart-main-card-bill-div3">
                   <p>Gst & Other Charges</p>
                   <span >₹{{total}}</span>
                   </div>

                   <hr class="cart-main-card-bill-hr2">

                   <div id="cart-total-price"  class="cart-main-card-bill-div4">
                   <h5>To pay</h5>
                   <span  >₹{{total}}</span>
                   </div>


            </div>
     </div>
       {% endif %}

     <div class="cart-main-div2">
     <div class="cart-main-readpolicy">
              <h3 class="cart-main-readpolicy-top">
                Review your order and address details to avoid cancellations
              </h3 >
              <p class="cart-main-readpolicy-bot">
                 Note: Please ensure your address and order details are correct. This order, if cancelled, is non-refundable.
              </p>
     </div>
     <div>
      <form method="post">
        {% csrf_token %}
        <button class="cart-main-div2-confirmorder" name="confirm_order">Confirm Order</button>
        </form>
     </div>
     </div>
    
     
</div>
</div>


<div class="adress-page" id="ADRESS-PAGE">
  <div class="adress-page-div">
    <button class="Addnewaddress-page-heading-button" onclick="opencart21()"><img class="Addnewaddress-page-heading-img" src="https://cdn-icons-png.flaticon.com/128/1828/1828778.png"></button>
  <h1 class="adress-page-heading">Select the location</h1>
  <div class="adress-page-addresses">
          <div class="adress-page-address1">
          <div>
                <img class="adress-page-address1-img" src="https://cdn-icons-png.flaticon.com/128/2838/2838912.png">
          </div>
          <div class="adress-page-address1-details">
               <h4>Nikhil</h4>
               <p class="adress-page-address1-details-address">D-51, Ayodhya Bypass Road, Ayodhya Bypass, Bhopal, Madhya Pradesh 462023, India</p>
               <h4 class="adress-page-address1-details-time">
                48 Min
               </h4 >
               <button class="adress-page-address1-details-button">Deliver Here</button>
          </div>
          </div>
          <div class="adress-page-address1">
          <div>
                <img class="adress-page-address1-img" src="https://cdn-icons-png.flaticon.com/128/2838/2838912.png">
          </div>


          <div class="adress-page-address1-details" onclick="opencart3()">
               <h4>Add New Address</h4>
               <p class="adress-page-address1-details-address">D-51, Ayodhya Bypass Road, Ayodhya Bypass, Bhopal, Madhya Pradesh 462023, India</p>
               
               <button class="adress-page-address1-details-button-unique" onclick="opencart3()">Add New</button>
          </div>
          </div>
  </div>
  </div>
  
</div>




<div class="Addnewaddress-page" id="ADDNEWADDRESS-PAGE">
    
  <div class="Addnewaddress-page-heading">
    <button class="Addnewaddress-page-heading-button" onclick="opencart32()"><img class="Addnewaddress-page-heading-img" src="https://cdn-icons-png.flaticon.com/128/1828/1828778.png"></button>
    <h1 class="Addnewaddress-page-heading-text">
      Save delivery address
    </h1>
  </div>

  <div class="Addnewaddress-page-googlemap">
    
  </div>

  <div class="Addnewaddress-page-inputs">
    <div class="Addnewaddress-page-inputs-div1">
    <label>Address</label>
   
    <input  class="Addnewaddress-page-inputs-div1-input1" type="text" >
    <div class="Addnewaddress-page-inputs-div2">

    <label>Door/Flat no</label>
    <input class="Addnewaddress-page-inputs-div1-input2"  type="text" >
    </div >

    <div class="Addnewaddress-page-inputs-div3">
     <label>Landmark</label>
    <input class="Addnewaddress-page-inputs-div1-input3"  type="text" >

    </div>
    <div class="Addnewaddress-page-inputs-div4">
      <div class="Addnewaddress-page-inputs-div4-1">

      <img class="Addnewaddress-page-inputs-div4-img" src="https://cdn-icons-png.flaticon.com/128/1946/1946488.png">
      <button class="Addnewaddress-page-inputs-div4-button">Home</button>

      </div>

      <div class="Addnewaddress-page-inputs-div4-2">
        <img class="Addnewaddress-page-inputs-div4-img" src="https://cdn-icons-png.flaticon.com/128/2910/2910791.png">
      <button class="Addnewaddress-page-inputs-div4-button"> Work</button>
      </div>

      <div class="Addnewaddress-page-inputs-div4-3">
        <img class="Addnewaddress-page-inputs-div4-img" src="https://cdn-icons-png.flaticon.com/128/10348/10348994.png">
      <button class="Addnewaddress-page-inputs-div4-button" > other</button>
      </div>
    </div>
  </div>

  
  
</div>
</div>

<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<script>
  if(window.history.replaceState){
     window.history.replaceState(null,null,window.location.href);
  }
  function opencartx(){
    console.log("hill")
    let x=document.getElementById("CART-SECTION")
    let y=document.getElementById("ADRESS-PAGE")
    console.log(y)
    x.style.display='none'
    y.style.display='flex'
    
  }
   function opencart3(){
    let x=document.getElementById("ADDNEWADDRESS-PAGE")
    let y=document.getElementById("ADRESS-PAGE")
    x.style.display='block'
    y.style.display='none'
    
  }
  function opencart32(){
     let x=document.getElementById("ADDNEWADDRESS-PAGE")
    let y=document.getElementById("ADRESS-PAGE")
    x.style.display='none'
    y.style.display='flex'
  }
   function opencart21(){
    let x=document.getElementById("CART-SECTION")
    let y=document.getElementById("ADRESS-PAGE")
    x.style.display='block'
    y.style.display='none'
    
  }
  
</script>
{% endblock %}

