{% extends 'navbar.html' %} 
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'homepage/mainpage.css' %}" />
{% endblock %} 

{% block body %}
<div id="main-page">
<div class="mainpage" id="mainpage--">
<div class="main">
  <div class="main-div1">
   
    <img class="main-div1-img" src="{% static 'banner.jpg' %}" alt="logo" />
   
    <span class="main-div1-text" id="text-appear">
      <span id="text-appear-1">Bringing</span>
       <span id="text-appear-2">your</span>
        <span id="text-appear-3">favorite</span>
         <span id="text-appear-4"> meals </span>
          <span id="text-appear-5">closer</span>
    </span>
    </div>
 
  
</div>

<div class="main3">
  <div class="main3-topline" id="changing-main3-topline">Why Choose Us ?</div>
  <div class="main3-div2">

   <img src="{% static 'homepage/banner-small-1.png' %}" class="banner-small-1">
   <img src="{% static 'homepage/banner-small-3.png'%}"  class="banner-small-2" alt="">
   <img src="{% static 'homepage/banner-small-2.png'%}" class="banner-small-3" alt="">
   
   
  </div>
  
</div>
<hr class="separator-x">
<img class="hanger" src="{% static 'homepage/hanging-banner.png'%}" alt="">

<div class="main-2-margin">
<div class="main2">
  <div class="main2-div1-topline" id="MAIN2-TOPLINE">What you want to order today ?</div>
   
  <div class="main2-div2-filter">
    <span> Sort By </span>
    <img
      class="main2-div2-filter-img"
      src="https://cdn-icons-png.flaticon.com/128/3839/3839020.png"
    />
    <div class="sortBy-filter">
        <div >
          <a class="sorting" href="{% url 'home' %}?sort=default">Defaut</a>
        </div>

        <div>
          <a class="sorting"  href="{% url 'home' %}?sort=deliverytime" >Delivery Time</a>
        </div>
        <div>
          <a class="sorting" href="{% url 'home' %}?sort=rating">Rating</a>
        </div>
      
    </div>
  </div>
</div>
</div>

<div class="main4">

  <div class="main4-restaurantslist">
    {% for r in Restaurant%}
    <div  class="main4-restaurantslist-restaurantcard" id="{{r.id}}" onclick="gotomenu('{{r.id}}')">
      <div class="main4-restaurantslist-restaurantcard-name-head">
       <h3 class="main4-restaurantslist-restaurantcard-name">{{r.Name}}</h3>
       </div>
      <div>
      <img
        class="main4-restaurantslist-restaurantcard-img"
        src="{{r.image.url}}"
      />
      </div>

      <div class="r-list-div2">
     
      <h4 class="main4-restaurantslist-restaurantcard-rating">
        <div class="z1">
        <img class="res-rate-img" src="https://cdn-icons-png.flaticon.com/128/10453/10453904.png" alt=""> 
        <span class="rate-text">{{r.rating}} </span>
        </div>
       
      </h4>
      <h5 class="main4-restaurantslist-restaurantcard-items">Cuisenes: {{r.Cuisenetypes}}</h5>
      <h5 class="main4-restaurantslist-restaurantcard-location">Location: {{r.Location}}</h5>
      <h6 class="main4-restaurantslist-restaurantcard-time"> {{r.deliverytime}} mins</h6>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

</div>
 <div class="paginator">
    {% if Restaurant.has_previous %}
       
       <a  href="?page={{Restaurant.previous_page_number}}"><img class="lefty" src="https://cdn-icons-png.flaticon.com/128/271/271220.png" alt=""></a>
    {% endif %}

    <span class="paginator-num">{{Restaurant.number}}</span>

     {% if Restaurant.has_next %}
       <a  href="?page={{ Restaurant.paginator.num_pages }}"><img class="lefty" src="https://cdn-icons-png.flaticon.com/128/271/271228.png" alt=""></a>
    {% endif %}
  </div>

    <section class="footer">

  <div class="footer-wave">
    <svg viewBox="0 0 1440 120">
      <path fill="#e6d5c8" 
      d="M0,64 C240,120 480,0 720,40 C960,80 1200,20 1440,60 L1440,160 L0,160 Z">
      </path>
    </svg>
  </div>

  <div class="footer-content">
      <div class="footer-content-c1">
        <div class="footer-content-c1-d1">
          <div class="footer-content-c1-d1-e1">
            <img class="footer-content-c1-d1-e1-f1" src="{%static 'homepage/logo.png'%}" alt="">
            <p class="footer-content-c1-d1-e1-f2">Foodish</p>
            </div>
            <h1 class="footer-content-c1-d1-e2">@2026 Foodish.Inc.All rights reserved</h1>
        </div>
        <div class="footer-content-c1-d2">
               <table class="footer-content-c1-d2-e1">
                <tr class="footer-content-c1-d2-e1-f1">
                  <th>Company</th>
                  <th>Resources</th>
                  <th>Connect</th>
                </tr>
                <tr class="footer-content-c1-d2-e1-f2">
                  <th>About</th>
                   <th>Terms to use</th>
                  <th>Linkedln</th>
                </tr>
                <tr class="footer-content-c1-d2-e1-f2">
                  <th>carrers</th>
                  <th>Download</th>
                   <th>Instagram</th>
                 
                </tr>
                <tr class="footer-content-c1-d2-e1-f2">
                 <th>Brand</th>
                  <th>Privacy policy</th>
                  <th>Facebook</th>
                </tr>
               </table>
        </div>
      </div>
  </div>

</section>
  
  </div>

  

  <div id="search-results">
    <p>" search results "</p>
    
    <div  id="resdata-search">
      
        
    </div>


  </div>





<!-- location -->
<script>

  // slide
  let play=1
  window.addEventListener('scroll',function(){
    let x=document.getElementById('MAIN2-TOPLINE')
    console.log(scrollY)
    if(scrollY>600 && play==0){
      x.classList.replace('main2-div1-topline','main2-div1-topline-x');
      setTimeout(()=>{
     x.classList.replace('main2-div1-topline-x','main2-div1-topline');
      },1700)
      play=1
    }
    else if(scrollY<150){
      play=0
    }
    
  })








 let i = 1
  let interval = setInterval(() => {
  if (i <= 5) {
    document.getElementById(`text-appear-${i}`).style.opacity="1"
    document.getElementById(`text-appear-${i}`).style.transform="scale(1)"
    i++
  } else {
    clearInterval(interval) 
  }
}, 500)
 let show=false;
  window.addEventListener("scroll",function(){
    
     if(scrollY<200 && show==true){
  let i = 1
  let interval = setInterval(() => {
  if (i <= 5 ) {
    document.getElementById(`text-appear-${i}`).style.opacity="1"
    document.getElementById(`text-appear-${i}`).style.transform="scale(1)"
    i++
  } else {
    show=false;
    clearInterval(interval) 
  }
}, 500)


}
     else if(scrollY>370){
      let i = 1
  let interval = setInterval(() => {
  if (i <= 5) {
    document.getElementById(`text-appear-${i}`).style.opacity="0"
    document.getElementById(`text-appear-${i}`).style.transform="scale(0.8)"
    i++
  } else {
    show=true
    clearInterval(interval) 
  }
  
}, 5)

}
  })

  let vis=true;
  window.addEventListener("scroll",function(){
    if(scrollY>=170 && vis){
      let x=document.getElementById('changing-main3-topline')
      x.classList.replace("main3-topline", "main3-topline-new");
    
      let i = 1;
    let st = setInterval(() => {
      if (i > 3) { 
        clearInterval(st);
        return;
      }
      
     
      let y = document.getElementsByClassName(`banner-small-${i}`);
      if (y.length > 0) {
        y[0].classList.replace(`banner-small-${i}`, 'banner-small-new');
      }
      i++;
    }, 400);
    vis=false
    }

  })

   window.addEventListener("scroll",function(){
    if(scrollY<100){
      let x=document.getElementById('changing-main3-topline')
      x.classList.replace( "main3-topline-new","main3-topline");
     let banners = document.querySelectorAll('.banner-small-new');

if (banners.length >= 3) {
    // We target them by their position in the static list
    banners[0].classList.replace('banner-small-new', 'banner-small-1');
    banners[1].classList.replace('banner-small-new', 'banner-small-2');
    banners[2].classList.replace('banner-small-new', 'banner-small-3');
    vis=true
}
    }
  })
    
  




    window.addEventListener("pageshow", function (event) {
    if (event.persisted) {
      window.location.reload();
    }
  });

  // function search(){
   
  // }

  document.getElementById('searching').addEventListener("input",function(){
     let a=document.getElementById('searching').value;
    let m=document.getElementById('main-page')
    let x=document.getElementById('search-results')
    if(a.length!=0){
          m.style.display="none"
          x.style.display="block"
    }
    else{
        m.style.display="block"
        x.style.display="none"
    }

    fetch("{% url 'search' %}?q="+this.value)
    .then(res => res.json())
       .then(data => {
      let html = "";

      data.forEach(r => {
        html += `
        <div  class="main4-restaurantslist-restaurantcard" id="${r.id}" onclick="gotomenu('${r.id}')">
      <div class="main4-restaurantslist-restaurantcard-name-head">
       <h3 class="main4-restaurantslist-restaurantcard-name">${r.Name}</h3>
       </div>
      <div>
      <img
        class="main4-restaurantslist-restaurantcard-img"
        src="${r.image}"
      />
      </div>

      <div class="r-list-div2-x">
     
      <h4 class="main4-restaurantslist-restaurantcard-rating-x">
        <img class="res-rate-img" src="https://cdn-icons-png.flaticon.com/128/10453/10453904.png" alt=""> ${r.rating} | ${r.deliverytime} mins
      </h4>
      <h5 class="main4-restaurantslist-restaurantcard-items-x"> ${r.Cuisenetypes}</h5>
      <h5 class="main4-restaurantslist-restaurantcard-location-x">${r.Location}</h5>
      </div>
    </div>
        `;
      });

      document.getElementById("resdata-search").innerHTML = html;
      });
  })

  


</script>

<div class="location" id="location-main">
  
  <div class="location-popup-1" id="location-1">
         <h1 class="location-popup-1-back" onclick="openmain()">X</h1>
          <div class="location-map-image">
        <h3 class="location-map-image-head"> Select Location</h3>
      <img class="location-map-image-img" src="https://cdn-icons-png.flaticon.com/128/854/854952.png" >
    </div>
    <hr>
    <div class="location-popup-1-input">
        <input class="location-popup-1-input-in" type="text" placeholder="search for area , streetname ...">
    </div>
    <div class="location-popup-1-gps">
        <img class="location-popup-1-gps-img" src="https://cdn-icons-png.flaticon.com/128/1549/1549466.png">
        <p class="location-popup-1-gps-p" class="location-popup-1-gps" onclick="openl()">Get Current Location</p>
    </div>
    <h1 class="location-popup-1-saved-head"> Saved Address</h1>
    {% for i in addresses %}
          {% if i.userr_id == request.user.id %}
          
         <a class="location-popup-1-saved" href="{% url 'achange' %}?add_id={{i.id}}">
        
      <div class="location-popup-1-saved-1">
        <h1 class="location-popup-1-saved-1-head">{{i.head}}</h1>
        <p>{{i.Flat}} , {{i.Address}} , {{i.Landmark}}</p>
      </div>
    </a>
  </div>
            {%endif%}
          {% endfor %}
    

  <div class="location-popup-2" id="location-2">
    <div class="location-popup-1-gp">
      <div class="Addnewaddress-page">
        <div class="Addnewaddress-page-heading">
          <button class="Addnewaddress-page-heading-button">
            <img
              class="Addnewaddress-page-heading-img"
              src="https://cdn-icons-png.flaticon.com/128/1828/1828778.png"
             onclick="closel()"/>
          </button>
          <h1 class="Addnewaddress-page-heading-text">Save delivery address</h1>
        </div>

       
        <img class="Addnewaddress-page-googlemap" src="{% static 'homepage/nav.png'%}" alt="">
               <form method="POST">
     {% csrf_token %}
  <div class="Addnewaddress-page-inputs">
    <div class="Addnewaddress-page-inputs-div1">
    <p>Address</p>
   
    {{form.Address}}

    <div class="Addnewaddress-page-inputs-div2">

    <label>Door/Flat no</label>
      {{form.Flat}}
    </div >

    <div class="Addnewaddress-page-inputs-div3">
     <label>Landmark</label>
     {{form.Landmark}}

    </div>
    <div class="Addnewaddress-page-inputs-div4">
       <label>Name</label>
       {{form.head}}
    </div>

    <button class="button-address" name="newaddress" >Save</button>
  </div>

  
  
</div>
</form>
      </div>
    </div>
  </div>

    

 

  
<script>
  function openl(){
      let l1=document.getElementById("location-1")
      l1.style.display='none'
      let l2=document.getElementById("location-2")
      l2.style.display="block"
  }
    function closel(){
      let l1=document.getElementById("location-1")
      l1.style.display='block'
      let l2=document.getElementById("location-2")
      l2.style.display="none"
  }
  function openmain(){
      let l1=document.getElementById("mainpage--")
      
      let l2=document.getElementById("location-main")

      l2.style.display='none'
      l1.style.filter='none'
      l1.style.position=''
     l1.style.pointerEvents=''
    }
  function openlocation(){
    let l1=document.getElementById("mainpage--")
      
      let l2=document.getElementById("location-main")

      l2.style.display='flex'
      l1.style.filter = 'blur(15px)';
      l1.style.position='fixed'
      l1.style.pointerEvents='none'
  }

  // function rightmove(){
  //   x=document.getElementById("main-3")
  //   x.scrollBy({ left: 100, behavior: "smooth" });
  // }
  //   function leftmove(){
  //   x=document.getElementById("main-3")
  //   x.scrollBy({ left: -100, behavior: "smooth" });
  // }
// const container = document.getElementById("main-3");

// const slide = setInterval(() => {
//   container.scrollBy({ left: 390 });
// }, 1000);
  function gotomenu(restaurantid){
    window.location.href=`/restaurant/res/${restaurantid}/`
  }

</script>
  {% endblock %}
</div>




