{% extends 'navbar.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'homepage/mainpage.css' %}" />
{% endblock %} {% block body %}
<div class="mainpage" id="mainpage--">
<div class="main">
  <div class="main-div1">
    <img class="main-div1-img" src="{% static 'banner.png' %}" alt="logo" />
    <span class="main-div1-text">Explore More Restaurants </span>
  </div>
</div>

<div class="main3">
  <div class="main3-topline">What's on your mind ?</div>
  <div class="main3-div2">
    <img
      class="main3-div2-arrows"
      src="https://cdn-icons-png.flaticon.com/128/271/271220.png"
     onclick="leftmove()"/>
    <div class="main-3-food" id="main-3">
      <img
        src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2024/7/2/6ef07bda-b707-48ea-9b14-2594071593d1_Biryani.png"
      />

      <img
        src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2024/7/2/6ef07bda-b707-48ea-9b14-2594071593d1_Pizzas.png"
      />
      <img
        src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2025/1/24/897bc750-6b57-4e7d-9365-87c1ab2c6d7e_Chinese2.png"
      />
      <img
        src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2025/1/24/05a939eb-fd4e-4308-b989-d1c54f4421b3_northindian1.png"
      />
      <img
        src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2024/7/2/6ef07bda-b707-48ea-9b14-2594071593d1_Biryani.png"
      />

      <img
        src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2024/7/2/6ef07bda-b707-48ea-9b14-2594071593d1_Pizzas.png"
      />
      <img
        src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2025/1/24/897bc750-6b57-4e7d-9365-87c1ab2c6d7e_Chinese2.png"
      />
      <img
        src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2025/1/24/05a939eb-fd4e-4308-b989-d1c54f4421b3_northindian1.png"
      />
      <img
        src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2024/7/2/6ef07bda-b707-48ea-9b14-2594071593d1_Biryani.png"
      />

      <img
        src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2024/7/2/6ef07bda-b707-48ea-9b14-2594071593d1_Pizzas.png"
      />
      <img
        src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2025/1/24/897bc750-6b57-4e7d-9365-87c1ab2c6d7e_Chinese2.png"
      />
      <img
        src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2025/1/24/05a939eb-fd4e-4308-b989-d1c54f4421b3_northindian1.png"
      />
      <img
        src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2024/7/2/6ef07bda-b707-48ea-9b14-2594071593d1_Biryani.png"
      />

      <img
        src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2024/7/2/6ef07bda-b707-48ea-9b14-2594071593d1_Pizzas.png"
      />
      <img
        src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2025/1/24/897bc750-6b57-4e7d-9365-87c1ab2c6d7e_Chinese2.png"
      />
      <img
        src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2025/1/24/05a939eb-fd4e-4308-b989-d1c54f4421b3_northindian1.png"
      />
    </div>
    <img
      class="main3-div2-arrows"
      src="https://cdn-icons-png.flaticon.com/128/271/271228.png"
      alt=""
      onclick="rightmove()"
    />
  </div>
  
</div>
<hr class="separator-x">


<div class="main2">
  <div class="main2-div1-topline">What you want to order today 🍔 ?</div>
   
  <div class="main2-div2-filter">
    <span> Sort By </span>
    <img
      class="main2-div2-filter-img"
      src="https://cdn-icons-png.flaticon.com/128/3839/3839020.png"
    />
    <div class="sortBy-filter">
        <div>
          <p>Defaut</p>
          <input type="checkbox">
        </div>
        <div>
          <p>Delivery Time</p>
          <input type="checkbox">
        </div>
        <div>
          <p>Rating</p>
          <input type="checkbox">
        </div>
        <div>
          <p>Cost:Low to High</p>
          <input type="checkbox">
        </div>
        <div>
          <p>Cost:High to Low</p>
          <input type="checkbox">
        </div>

    </div>
  </div>
</div>

<div class="main4">

  <div class="main4-restaurantslist">
    {% for r in Restaurant%}
    <div class="main4-restaurantslist-restaurantcard" id="{r.id}">
      <img
        class="main4-restaurantslist-restaurantcard-img"
        src="{{r.image.url}}"
      />
      <h3 class="main4-restaurantslist-restaurantcard-name">{{r.Name}}</h3>
      <h4 class="main4-restaurantslist-restaurantcard-rating">
        ⭐️ {{r.rating}} | {{r.deliverytime}} mins
      </h4>
      <h5 class="main4-restaurantslist-restaurantcard-items">{{r.Cuisenetypes}}</h5>
      <h5 class="main4-restaurantslist-restaurantcard-location">{{r.Location}}</h5>
    </div>
    
    {% endfor %}
  </div>
</div>

</div>

<!-- location -->


<div class="location" id="location-main">
  
  <div class="location-popup-1" id="location-1">
         <h1 class="location-popup-1-back" onclick="openmain()">X</h1>
          <div class="location-map-image">
        <h3 class="location-map-image-head"> Select Location</h3>
      <img class="location-map-image-img" src="https://cdn-icons-png.flaticon.com/128/854/854952.png" >
    </div>
    <hr>
    <div class="location-popup-1-input">
        <input class="location-popup-1-input-in" type="text" placeholder="search for area , streetname ...">
    </div>
    <div class="location-popup-1-gps">
        <img class="location-popup-1-gps-img" src="https://cdn-icons-png.flaticon.com/128/1549/1549466.png">
        <p class="location-popup-1-gps-p" class="location-popup-1-gps" onclick="openl()">Get Current Location</p>
    </div>
    <h1 class="location-popup-1-saved-head"> Saved Address</h1>
    <div class="location-popup-1-saved">
        
      <div class="location-popup-1-saved-1">
        <h1 class="location-popup-1-saved-1-head">Home</h1>
        <p>B-6, Railway Colony, Gwalior, Madhya Pradesh 474002, India</p>
      </div>
    </div>
  </div>

  <div class="location-popup-2" id="location-2">
    <div class="location-popup-1-gp">
      <div class="Addnewaddress-page">
        <div class="Addnewaddress-page-heading">
          <button class="Addnewaddress-page-heading-button">
            <img
              class="Addnewaddress-page-heading-img"
              src="https://cdn-icons-png.flaticon.com/128/1828/1828778.png"
             onclick="closel()"/>
          </button>
          <h1 class="Addnewaddress-page-heading-text">Save delivery address</h1>
        </div>

        <div class="Addnewaddress-page-googlemap"></div>

        <div class="Addnewaddress-page-inputs">
          <div class="Addnewaddress-page-inputs-div1">
            <label>Address</label>

            <input class="Addnewaddress-page-inputs-div1-input1" type="text" />
            <div class="Addnewaddress-page-inputs-div2">
              <label>Door/Flat no</label>
              <input
                class="Addnewaddress-page-inputs-div1-input2"
                type="text"
              />
            </div>

            <div class="Addnewaddress-page-inputs-div3">
              <label>Landmark</label>
              <input
                class="Addnewaddress-page-inputs-div1-input3"
                type="text"
              />
            </div>
            <div class="Addnewaddress-page-inputs-div4">
              <div class="Addnewaddress-page-inputs-div4-1">
                <img
                  class="Addnewaddress-page-inputs-div4-img"
                  src="https://cdn-icons-png.flaticon.com/128/1946/1946488.png"
                />
                <button class="Addnewaddress-page-inputs-div4-button">
                  Home
                </button>
              </div>

              <div class="Addnewaddress-page-inputs-div4-2">
                <img
                  class="Addnewaddress-page-inputs-div4-img"
                  src="https://cdn-icons-png.flaticon.com/128/2910/2910791.png"
                />
                <button class="Addnewaddress-page-inputs-div4-button">
                  Work
                </button>
              </div>

              <div class="Addnewaddress-page-inputs-div4-3">
                <img
                  class="Addnewaddress-page-inputs-div4-img"
                  src="https://cdn-icons-png.flaticon.com/128/10348/10348994.png"
                />
                <button class="Addnewaddress-page-inputs-div4-button">
                  other
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
<script>
  function openl(){
      let l1=document.getElementById("location-1")
      l1.style.display='none'
      let l2=document.getElementById("location-2")
      l2.style.display="block"
  }
    function closel(){
      let l1=document.getElementById("location-1")
      l1.style.display='block'
      let l2=document.getElementById("location-2")
      l2.style.display="none"
  }
  function openmain(){
      let l1=document.getElementById("mainpage--")
      
      let l2=document.getElementById("location-main")

      l2.style.display='none'
      l1.style.filter='none'
      l1.style.position=''
     l1.style.pointerEvents=''
    }
  function openlocation(){
    let l1=document.getElementById("mainpage--")
      
      let l2=document.getElementById("location-main")

      l2.style.display='flex'
      l1.style.filter = 'blur(15px)';
      l1.style.position='fixed'
      l1.style.pointerEvents='none'
  }

  function rightmove(){
    x=document.getElementById("main-3")
    x.scrollBy({ left: 100, behavior: "smooth" });
  }
    function leftmove(){
    x=document.getElementById("main-3")
    x.scrollBy({ left: -100, behavior: "smooth" });
  }

</script>
  {% endblock %}
</div>
