{% extends 'navbar.html' %}
{% load static %}
{% block css %}
   <link rel="stylesheet" href="{% static 'homepage/mainpage.css' %}">
{% endblock %}
{% block body %}
  <div class="main">
       <div class="main-div1">
        <img class="main-div1-img" src="{% static 'banner.png' %}" alt="logo">
        <span class="main-div1-text">Explore More Restaurants </span>
       </div>

       
  </div>

  <div class="main3">
        <div class="main3-topline">
          What's on your mind ?
        </div>
        <div class="main3-div2">
          <img class="main3-div2-arrows" src="https://cdn-icons-png.flaticon.com/128/271/271220.png">
        <div class="main-3-food">
             
              <img  src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2024/7/2/6ef07bda-b707-48ea-9b14-2594071593d1_Biryani.png" >

              <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2024/7/2/6ef07bda-b707-48ea-9b14-2594071593d1_Pizzas.png">
              <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2025/1/24/897bc750-6b57-4e7d-9365-87c1ab2c6d7e_Chinese2.png">
              <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2025/1/24/05a939eb-fd4e-4308-b989-d1c54f4421b3_northindian1.png">
                <img  src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2024/7/2/6ef07bda-b707-48ea-9b14-2594071593d1_Biryani.png" >

              <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2024/7/2/6ef07bda-b707-48ea-9b14-2594071593d1_Pizzas.png">
              <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2025/1/24/897bc750-6b57-4e7d-9365-87c1ab2c6d7e_Chinese2.png">
              <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2025/1/24/05a939eb-fd4e-4308-b989-d1c54f4421b3_northindian1.png">
                <img  src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2024/7/2/6ef07bda-b707-48ea-9b14-2594071593d1_Biryani.png" >

              <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2024/7/2/6ef07bda-b707-48ea-9b14-2594071593d1_Pizzas.png">
              <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2025/1/24/897bc750-6b57-4e7d-9365-87c1ab2c6d7e_Chinese2.png">
              <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2025/1/24/05a939eb-fd4e-4308-b989-d1c54f4421b3_northindian1.png">
                <img  src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2024/7/2/6ef07bda-b707-48ea-9b14-2594071593d1_Biryani.png" >

              <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2024/7/2/6ef07bda-b707-48ea-9b14-2594071593d1_Pizzas.png">
              <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2025/1/24/897bc750-6b57-4e7d-9365-87c1ab2c6d7e_Chinese2.png">
              <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/MERCHANDISING_BANNERS/IMAGES/MERCH/2025/1/24/05a939eb-fd4e-4308-b989-d1c54f4421b3_northindian1.png">
              
        </div>
             <img class="main3-div2-arrows" src="https://cdn-icons-png.flaticon.com/128/271/271228.png" alt="">
        </div>
   </div>   



  <div class="main2">
        <div class="main2-div1-topline">
           What you want to order today 🍔 ?
        </div>
        <div class="main2-div2-filter">
          <span>
          Filter
          </span>
          <img class="main2-div2-filter-img" src="https://cdn-icons-png.flaticon.com/128/3839/3839020.png">
        </div>

       </div>

       <div class="main4">
                 <div class="main4-restaurantslist">
                         <div class="main4-restaurantslist-restaurantcard">
                             <img class="main4-restaurantslist-restaurantcard-img" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/RX_THUMBNAIL/IMAGES/VENDOR/2025/9/1/41b0492e-3e4e-4b8a-8f7b-bed178cc209b_695745.JPG">
                             <h3 class="main4-restaurantslist-restaurantcard-name">Pizza Hut</h3>
                             <h4 class="main4-restaurantslist-restaurantcard-rating">⭐️ 4.3 | 30-35 mins</h4>
                             <h5 class="main4-restaurantslist-restaurantcard-items">pizzas,pasta</h5>
                             <h5 class="main4-restaurantslist-restaurantcard-location">location</h5>
                         </div>
                         <div class="main4-restaurantslist-restaurantcard">
                             <img class="main4-restaurantslist-restaurantcard-img" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/RX_THUMBNAIL/IMAGES/VENDOR/2025/9/1/41b0492e-3e4e-4b8a-8f7b-bed178cc209b_695745.JPG">
                             <h3 class="main4-restaurantslist-restaurantcard-name">Pizza Hut</h3>
                             <h4 class="main4-restaurantslist-restaurantcard-rating">⭐️ 4.3 | 30-35 mins</h4>
                             <h5 class="main4-restaurantslist-restaurantcard-items">pizzas,pasta</h5>
                             <h5 class="main4-restaurantslist-restaurantcard-location">location</h5>
                         </div>
                         <div class="main4-restaurantslist-restaurantcard">
                             <img class="main4-restaurantslist-restaurantcard-img" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/RX_THUMBNAIL/IMAGES/VENDOR/2025/9/1/41b0492e-3e4e-4b8a-8f7b-bed178cc209b_695745.JPG">
                             <h3 class="main4-restaurantslist-restaurantcard-name">Pizza Hut</h3>
                             <h4 class="main4-restaurantslist-restaurantcard-rating">⭐️ 4.3 | 30-35 mins</h4>
                             <h5 class="main4-restaurantslist-restaurantcard-items">pizzas,pasta</h5>
                             <h5 class="main4-restaurantslist-restaurantcard-location">location</h5>
                         </div>
                         <div class="main4-restaurantslist-restaurantcard">
                             <img class="main4-restaurantslist-restaurantcard-img" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/RX_THUMBNAIL/IMAGES/VENDOR/2025/9/1/41b0492e-3e4e-4b8a-8f7b-bed178cc209b_695745.JPG">
                             <h3 class="main4-restaurantslist-restaurantcard-name">Pizza Hut</h3>
                             <h4 class="main4-restaurantslist-restaurantcard-rating">⭐️ 4.3 | 30-35 mins</h4>
                             <h5 class="main4-restaurantslist-restaurantcard-items">pizzas,pasta</h5>
                             <h5 class="main4-restaurantslist-restaurantcard-location">location</h5>
                         </div>
                         <div class="main4-restaurantslist-restaurantcard">
                             <img class="main4-restaurantslist-restaurantcard-img" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/RX_THUMBNAIL/IMAGES/VENDOR/2025/9/1/41b0492e-3e4e-4b8a-8f7b-bed178cc209b_695745.JPG">
                             <h3 class="main4-restaurantslist-restaurantcard-name">Pizza Hut</h3>
                             <h4 class="main4-restaurantslist-restaurantcard-rating">⭐️ 4.3 | 30-35 mins</h4>
                             <h5 class="main4-restaurantslist-restaurantcard-items">pizzas,pasta</h5>
                             <h5 class="main4-restaurantslist-restaurantcard-location">location</h5>
                         </div>
                         <div class="main4-restaurantslist-restaurantcard">
                             <img class="main4-restaurantslist-restaurantcard-img" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/RX_THUMBNAIL/IMAGES/VENDOR/2025/9/1/41b0492e-3e4e-4b8a-8f7b-bed178cc209b_695745.JPG">
                             <h3 class="main4-restaurantslist-restaurantcard-name">Pizza Hut</h3>
                             <h4 class="main4-restaurantslist-restaurantcard-rating">⭐️ 4.3 | 30-35 mins</h4>
                             <h5 class="main4-restaurantslist-restaurantcard-items">pizzas,pasta</h5>
                             <h5 class="main4-restaurantslist-restaurantcard-location">location</h5>
                         </div>
                         <div class="main4-restaurantslist-restaurantcard">
                             <img class="main4-restaurantslist-restaurantcard-img" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/RX_THUMBNAIL/IMAGES/VENDOR/2025/9/1/41b0492e-3e4e-4b8a-8f7b-bed178cc209b_695745.JPG">
                             <h3 class="main4-restaurantslist-restaurantcard-name">Pizza Hut</h3>
                             <h4 class="main4-restaurantslist-restaurantcard-rating">⭐️ 4.3 | 30-35 mins</h4>
                             <h5 class="main4-restaurantslist-restaurantcard-items">pizzas,pasta</h5>
                             <h5 class="main4-restaurantslist-restaurantcard-location">location</h5>
                         </div>
                         <div class="main4-restaurantslist-restaurantcard">
                             <img class="main4-restaurantslist-restaurantcard-img" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/RX_THUMBNAIL/IMAGES/VENDOR/2025/9/1/41b0492e-3e4e-4b8a-8f7b-bed178cc209b_695745.JPG">
                             <h3 class="main4-restaurantslist-restaurantcard-name">Pizza Hut</h3>
                             <h4 class="main4-restaurantslist-restaurantcard-rating">⭐️ 4.3 | 30-35 mins</h4>
                             <h5 class="main4-restaurantslist-restaurantcard-items">pizzas,pasta</h5>
                             <h5 class="main4-restaurantslist-restaurantcard-location">location</h5>
                         </div>
                         <div class="main4-restaurantslist-restaurantcard">
                             <img class="main4-restaurantslist-restaurantcard-img" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/RX_THUMBNAIL/IMAGES/VENDOR/2025/9/1/41b0492e-3e4e-4b8a-8f7b-bed178cc209b_695745.JPG">
                             <h3 class="main4-restaurantslist-restaurantcard-name">Pizza Hut</h3>
                             <h4 class="main4-restaurantslist-restaurantcard-rating">⭐️ 4.3 | 30-35 mins</h4>
                             <h5 class="main4-restaurantslist-restaurantcard-items">pizzas,pasta</h5>
                             <h5 class="main4-restaurantslist-restaurantcard-location">location</h5>
                         </div>
                         <div class="main4-restaurantslist-restaurantcard">
                             <img class="main4-restaurantslist-restaurantcard-img" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/RX_THUMBNAIL/IMAGES/VENDOR/2025/9/1/41b0492e-3e4e-4b8a-8f7b-bed178cc209b_695745.JPG">
                             <h3 class="main4-restaurantslist-restaurantcard-name">Pizza Hut</h3>
                             <h4 class="main4-restaurantslist-restaurantcard-rating">⭐️ 4.3 | 30-35 mins</h4>
                             <h5 class="main4-restaurantslist-restaurantcard-items">pizzas,pasta</h5>
                             <h5 class="main4-restaurantslist-restaurantcard-location">location</h5>
                         </div>
                         <div class="main4-restaurantslist-restaurantcard">
                             <img class="main4-restaurantslist-restaurantcard-img" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/RX_THUMBNAIL/IMAGES/VENDOR/2025/9/1/41b0492e-3e4e-4b8a-8f7b-bed178cc209b_695745.JPG">
                             <h3 class="main4-restaurantslist-restaurantcard-name">Pizza Hut</h3>
                             <h4 class="main4-restaurantslist-restaurantcard-rating">⭐️ 4.3 | 30-35 mins</h4>
                             <h5 class="main4-restaurantslist-restaurantcard-items">pizzas,pasta</h5>
                             <h5 class="main4-restaurantslist-restaurantcard-location">location</h5>
                         </div>
                         <div class="main4-restaurantslist-restaurantcard">
                             <img class="main4-restaurantslist-restaurantcard-img" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/RX_THUMBNAIL/IMAGES/VENDOR/2025/9/1/41b0492e-3e4e-4b8a-8f7b-bed178cc209b_695745.JPG">
                             <h3 class="main4-restaurantslist-restaurantcard-name">Pizza Hut</h3>
                             <h4 class="main4-restaurantslist-restaurantcard-rating">⭐️ 4.3 | 30-35 mins</h4>
                             <h5 class="main4-restaurantslist-restaurantcard-items">pizzas,pasta</h5>
                             <h5 class="main4-restaurantslist-restaurantcard-location">location</h5>
                         </div>
                         <div class="main4-restaurantslist-restaurantcard">
                             <img class="main4-restaurantslist-restaurantcard-img" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/RX_THUMBNAIL/IMAGES/VENDOR/2025/9/1/41b0492e-3e4e-4b8a-8f7b-bed178cc209b_695745.JPG">
                             <h3 class="main4-restaurantslist-restaurantcard-name">Pizza Hut</h3>
                             <h4 class="main4-restaurantslist-restaurantcard-rating">⭐️ 4.3 | 30-35 mins</h4>
                             <h5 class="main4-restaurantslist-restaurantcard-items">pizzas,pasta</h5>
                             <h5 class="main4-restaurantslist-restaurantcard-location">location</h5>
                         </div><div class="main4-restaurantslist-restaurantcard">
                             <img class="main4-restaurantslist-restaurantcard-img" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/RX_THUMBNAIL/IMAGES/VENDOR/2025/9/1/41b0492e-3e4e-4b8a-8f7b-bed178cc209b_695745.JPG">
                             <h3 class="main4-restaurantslist-restaurantcard-name">Pizza Hut</h3>
                             <h4 class="main4-restaurantslist-restaurantcard-rating">⭐️ 4.3 | 30-35 mins</h4>
                             <h5 class="main4-restaurantslist-restaurantcard-items">pizzas,pasta</h5>
                             <h5 class="main4-restaurantslist-restaurantcard-location">location</h5>
                         </div>
                         <div class="main4-restaurantslist-restaurantcard">
                             <img class="main4-restaurantslist-restaurantcard-img" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/RX_THUMBNAIL/IMAGES/VENDOR/2025/9/1/41b0492e-3e4e-4b8a-8f7b-bed178cc209b_695745.JPG">
                             <h3 class="main4-restaurantslist-restaurantcard-name">Pizza Hut</h3>
                             <h4 class="main4-restaurantslist-restaurantcard-rating">⭐️ 4.3 | 30-35 mins</h4>
                             <h5 class="main4-restaurantslist-restaurantcard-items">pizzas,pasta</h5>
                             <h5 class="main4-restaurantslist-restaurantcard-location">location</h5>
                         </div>
                         <div class="main4-restaurantslist-restaurantcard">
                             <img class="main4-restaurantslist-restaurantcard-img" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/RX_THUMBNAIL/IMAGES/VENDOR/2025/9/1/41b0492e-3e4e-4b8a-8f7b-bed178cc209b_695745.JPG">
                             <h3 class="main4-restaurantslist-restaurantcard-name">Pizza Hut</h3>
                             <h4 class="main4-restaurantslist-restaurantcard-rating">⭐️ 4.3 | 30-35 mins</h4>
                             <h5 class="main4-restaurantslist-restaurantcard-items">pizzas,pasta</h5>
                             <h5 class="main4-restaurantslist-restaurantcard-location">location</h5>
                         </div>
                 </div>
       </div>


 

 
{% endblock %}