{% extends 'navbar.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'restaurantpage/res.css' %}" />
{% endblock %} 
{% block body %}
<div class="Restaurant-page">
   <div class="Restaurant-data">
    <div class="Restaurant-data-div1">
    <h1 class="Restaurant-data-div1-heading">{{restaurant.Name}}</h1>
    <div class="Restaurant-data-div1-div1">
        <img class="Restaurant-data-div1-div1-img" src="https://cdn-icons-png.flaticon.com/128/10453/10453904.png">
        <span>{{restaurant.rating}}</span>
        <span>(2.5K+ ratings)  | </span>
        <span>$350 for two</span>
    </div>
    <div class="Restaurant-data-div1-div2">
      <div class="Restaurant-data-div1-div2-div">
        <img class="Restaurant-data-div1-div2-img" src="https://cdn-icons-png.flaticon.com/128/8265/8265301.png">
        <span>Outlet</span>
        <div class="Restaurant-data-div1-div2-div-resname">
        <span class="Restaurant-data-div1-div2-div-resname-name">DB Mall</span>
       
        </div>
      </div>

      <div class="Restaurant-data-div1-div2-div2">
        <img class="Restaurant-data-div1-div2-img" src="https://cdn-icons-png.flaticon.com/128/8265/8265301.png">
        <span>40-50 mins</span>
      </div>


    </div>
    <div class="Restaurant-data-offers">
        <h1 class="Restaurant-data-offers-heading">Deals for you</h1>
        <div class="Restaurant-data-offers-list">
             <img
      class="main3-div2-arrows"
      src="https://cdn-icons-png.flaticon.com/128/271/271220.png"
      
     onclick="left()"/>
     <div class="Restaurant-data-offers-main" id="offer-left">
              <div class="Restaurant-data-offers-list-data">
                <img class="Restaurant-data-offers-list-data-img" src="https://cdn-icons-png.flaticon.com/128/3258/3258504.png">
                <p>Extra ₹25 Off</p>
              </div>
              <div class="Restaurant-data-offers-list-data">
                <img class="Restaurant-data-offers-list-data-img" src="https://cdn-icons-png.flaticon.com/128/3258/3258504.png">
                <p>Extra ₹25 Off</p>
              </div>
              <div class="Restaurant-data-offers-list-data">
                <img class="Restaurant-data-offers-list-data-img" src="https://cdn-icons-png.flaticon.com/128/3258/3258504.png">
                <p>Extra ₹25 Off</p>
              </div>
       </div>       
               <img
      class="main3-div2-arrows"
      src="https://cdn-icons-png.flaticon.com/128/271/271228.png"
      alt=""
      id="offer-right"
      onclick="right()"
    />

        </div>
    </div>

    </div>
  
    
    
    <div class="Restaurant-data-div2">
           <img class="Restaurant-data-div2-img" src="{{restaurant.image.url}}">
         </div>
    </div>
    <div class="Restaurant-menu">
           <div class="Restaurant-menu-div">
            <hr class="Restaurant-menu-div-hr">
            <img class="Restaurant-menu-img" src="https://cdn-icons-png.flaticon.com/128/1046/1046747.png">
            <span class="Restaurant-menu-div-menu">MENU</span>
            <hr class="Restaurant-menu-div-hr">
           </div>
    </div>

    <div class="Restaurant-menu-main">
      <button class="Restaurant-menu-main-search" ><img class="Restaurant-menu-main-search-img" src="https://cdn-icons-png.flaticon.com/128/54/54481.png"> Search for dishes </button>
       <div class="Restaurant-menu-main-sort">
        <div class="Restaurant-menu-main-sort-div">
        <p class="Restaurant-menu-main-sort-div-input" ></p>
        <p>All</p>
        <img class="Restaurant-menu-main-sort-img" src="https://cdn-icons-png.flaticon.com/128/1143/1143783.png">
        </div>
        <div class="Restaurant-menu-main-sort-div">
        <p class="Restaurant-menu-main-sort-div-input" ></p>
        <p>Veg</p>
        <img class="Restaurant-menu-main-sort-img" src="https://uxwing.com/wp-content/themes/uxwing/download/food-and-drinks/veg-icon.png">
        </div>
        <div class="Restaurant-menu-main-sort-div">
        <p class="Restaurant-menu-main-sort-div-input" ></p>
        <p>Nonveg </p>
        <img class="Restaurant-menu-main-sort-img" src="https://uxwing.com/wp-content/themes/uxwing/download/food-and-drinks/non-veg-icon.svg">
        </div>
       </div>
      <hr class="Restaurant-menu-main-hr12">

      <div class="Restaurant-menu-main-list">
         <div class="Restaurant-menu-main-list-data">
             {% for i in category %}
              <div class="Restaurant-menu-main-list-data-header" onclick="openlist('{{i.id}}')">
              <h1 class="Restaurant-menu-main-list-data-header-name">{{i.name}}</h1>
              <img class="Restaurant-menu-main-list-data-header-img" src="https://cdn-icons-png.flaticon.com/128/2985/2985150.png">
              </div>
              

             
              
              <div class="Restaurant-menu-main-list-data-header-data" id="{{i.id}}">
                 {%for j in items%}
                {% if i.id == j.category_id  %}
               
                <div class="Restaurant-menu-main-list-data-header-data-items">
                  <div class="Restaurant-menu-main-list-data-header-data-items-div1">
                  <img class="Restaurant-menu-main-list-data-header-data-items-div1-img" id="Restaurant-menu-main-list-data-header-data-items-div1-img-id" 
                  src="{% if j.food_type == 'veg' %}https://uxwing.com/wp-content/themes/uxwing/download/food-and-drinks/veg-icon.png{% else %}https://uxwing.com/wp-content/themes/uxwing/download/food-and-drinks/non-veg-icon.png{% endif %}">
                  <p class="Restaurant-menu-main-list-data-header-data-items-div1-itemname">{{j.name}}</p>
                  <p class="Restaurant-menu-main-list-data-header-data-items-div1-rs">₹{{j.price}}</p>
                  <p class="Restaurant-menu-main-list-data-header-data-items-div1-rating" >
                    <img class="Restaurant-menu-main-list-data-header-data-items-div1-rating-img"  src="https://cdn-icons-png.flaticon.com/128/10453/10453904.png"> {{j.rating}}</p>
                  <p class="Restaurant-menu-main-list-data-header-data-items-div1-description">{{j.description}}</p>
                  </div>
                  <div class="Restaurant-menu-main-list-data-header-data-items-div2">
                    <img class="Restaurant-menu-main-list-data-header-data-items-div2-img" src="{{j.image.url}}">
                    <form method="POST">
                      {% csrf_token %}
                      {% for x in q %}
                      {% if x.id == j.id %}
                      {% if x.quantity == 0 %}
                     <button  class="Restaurant-menu-main-list-data-header-data-items-div2-button"  value="{{ j.id }},{{ i.id }},{{ restaurant.id }},ADD"name="add_to_cart">Add</button>
                     {% else %}
                       <div class="new-button-div-realtime-update">

                        <button class="new-button-div-realtime-update-button" value="{{ j.id }},{{ i.id }},{{ restaurant.id }},minus"name="add_to_cart">-</button>
                            <span>{{x.quantity}}</span>
                         <button class="new-button-div-realtime-update-button" value="{{ j.id }},{{ i.id }},{{ restaurant.id }},ADD"name="add_to_cart">+</button>
                       </div>
                    

                      {% endif %}
                      {% endif %}
                    {% endfor %}
                     </form>
                  </div>
                    
                </div>
                <hr class="res-list-hr-break">
                 {% endif %}
                {% endfor %}
        
              </div>
             
              {% endfor %}
         </div>


        <div>

        </div>
      </div>

    </div>



    </div>
       


<script>
   if(window.history.replaceState){
    window.history.replaceState(null,null,window.location.href)
   }


  function right(){
    x=document.getElementById("offer-left")
    x.scrollBy({ left: 100, behavior: "smooth" });
  }
    function left(){
    x=document.getElementById("offer-left")
    x.scrollBy({ left: -100, behavior: "smooth" });
  }

  function openlist(id){
    let x=document.getElementById(id)
    console.log(x.style.display)

    x.scrollBy({bottom: 100,behavior:"smooth" });

    // let y=document.getElementById("Restaurant-menu-main-list-data-header-data-items-div1-img-id")
    // console.log(y)
    if(x.style.display==="none" ){
      x.style.display="block"
      // y.style.transform='rotate(0deg)';
    }
    else{
      x.style.display="none"
      // y.style.transform='rotate(180deg)';
    }
  
  }

</script>
  {% endblock %}

