{% extends 'navbar.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'restaurantpage/res.css' %}" />
{% endblock %} 
{% block body %}
<div class="Restaurant-page">
   <div class="Restaurant-data">
    <div class="Restaurant-data-div1">
    <h1 class="Restaurant-data-div1-heading">Pizza hut</h1>
    <div class="Restaurant-data-div1-div1">
        <img class="Restaurant-data-div1-div1-img" src="https://cdn-icons-png.flaticon.com/128/10453/10453904.png">
        <span>4.3</span>
        <span>(2.5K+ ratings)  | </span>
        <span>$350 for two</span>
    </div>
    <div class="Restaurant-data-div1-div2">
      <div class="Restaurant-data-div1-div2-div">
        <img class="Restaurant-data-div1-div2-img" src="https://cdn-icons-png.flaticon.com/128/8265/8265301.png">
        <span>Outlet</span>
        <span>DB Mall</span>
      </div>

      <div class="Restaurant-data-div1-div2-div2">
        <img class="Restaurant-data-div1-div2-img" src="https://cdn-icons-png.flaticon.com/128/8265/8265301.png">
        <span>40-50 mins</span>
      </div>


    </div>
    </div>
     

    </div>
       
</div>
  {% endblock %}
</div>
