{% load static%}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
</head>
<link rel="stylesheet" href="{% static 'authentication/login.css'%}">
<body>
    <div class="login">
    <h1 class="login-name">Welcome Foody !</h1>
   <form method="post">
     {% csrf_token %}
    <div class="login-maindiv">
        <div >
             <p>Email:</p>
            {{form.username}}
          
            {{form.username.errors}}
        </div>
         <div >
             <p>password:</p>
            {{form.password}}
          
    {{ form.password.errors }}
    {{ form.non_field_errors }}


        </div>


    </div>
     <div  class="login-button">
    <button class="login-submit" type="submit">Login</button>
    </div>
    <div>
      <a href="{% url 'password_reset' %}" class="login-forgotpassword">Forgot password ?</a>
    </div>
    <hr class="register-separate">
  <div class="register-part2">
    <a class="google" href="{% provider_login_url 'google' %}"> Continue with </a>
    <img class="register-part2-img" src="https://cdn-icons-png.flaticon.com/128/300/300221.png">
  </div>

</form>
</div>
<script>
       if ( window.history.replaceState ) {
                  window.history.replaceState( null, null, window.location.href );
             }
  </script>
</body>
</html>