*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.navbar{
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    background-color:  rgb(255, 255, 255);
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 0.2px solid rgb(176, 173, 173);
    z-index: 100;
    transition: all ease-in-out 0.2s;
}
.navbar-cart{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    background-color:  rgb(255, 255, 255);
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0.1px 0px 10px 0px rgb(105, 201, 239);
    z-index: 100;
    transition: all ease-in-out 0.2s;
}
.navbar-onscroll{
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    transition: all ease-in-out 0.2s;
    background-color: #ffffff;
     box-shadow: 0.1px 0px 10px 0px rgb(105, 201, 239);
    
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    
    z-index: 100;
   
}
.navbar-1{
    display: flex;
    align-items: center;
    gap: 4px;
    color: rgb(0, 153, 255);
    font-weight: bolder;
   font-size: larger;
    height: 60px;
    cursor: pointer;
    text-decoration: none;
}
.navbar-2{
    display: flex;
    gap: 3px;

}
.navbar-2:hover{
   color: rgb(0, 153, 255);
    cursor: pointer;
    transition: color ease-in-out 0.4s;
}

.navbar-3{
     align-items: center;
    display: flex;
    gap: 100px;
}

.navbar-1-logo{
    width: 40px;
    height: 40px;
}
.navbar-2-location{

     width: 20px;
    height: 20px;
}
.navbar-3-search{
     width: 20px;
    height: 20px;
    
}
.navbar-3-profile{
     width: 20px;
    height: 20px;
}
.navbar-4-wheel{
     width: 20px;
    height: 20px;

}
.navbar-4{
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}
.navbar-4-name{
    text-decoration: none;
    color: #000000;
}
.navbar-4-name:hover{
 color: rgb(0, 153, 255);
    cursor: pointer;
    transition: color ease-in-out 0.4s;
}
.navbar-3-cart{
     width: 20px;
    height: 20px;
}
.navbar-3-1,.navbar-3-2,.navbar-3-3{
    display: flex;
    gap: 5px;
}
.navbar-3-1{
    background-color: rgb(253, 253, 253);
    border: 0.3px solid rgb(156, 155, 155);
    padding: 5px;
    border-radius: 10px;
    gap:10px;
}
.navbar-2-other{
    text-decoration: none;
    
}
.navbar-2-other:hover{
  
    color: rgb(0, 153, 255);
    cursor: pointer;
    transition: color ease-in-out 0.4s;
}
.navbar-3-3:hover{
    color: rgb(0, 153, 255);
    cursor: pointer;
    transition: color ease-in-out 0.4s;
}
.navbar-signin{
    
    color: rgb(0, 153, 255);
    cursor: pointer;
    transition: color ease-in-out 0.4s;
}



.navbar-3-input{
    width: 200px;
    border: none;
    font-size:  medium;
    font-family: sans-serif;
    color: rgb(154, 154, 154);
  

}
.navbar-3-input:focus{
      outline: none;
      background-color: rgb(255, 255, 255);
      transition: background-color ease-in-out 0.4s;
      color: rgb(0, 0, 0);
      cursor: pointer;
      
      
}
.navbar-3-1:focus-within{
     background-color: rgb(255, 255, 255);
       transition: background-color ease-in-out 0.4s;
       box-shadow: 1px 1px 3px 1px rgb(172, 205, 255);
}
.navbar-signin{
    
    text-decoration: none;
    color: black;
}
.navbar-3-3-cart{
    text-decoration: none;
    color: black;
}
.navbar-3-3-cart:hover{
    color: rgb(0, 153, 255);
    cursor: pointer;
    transition: color ease-in-out 0.3s;
}
.navbar-signin:hover{
    color: rgb(0, 153, 255);
    cursor: pointer;
    transition: color ease-in-out 0.3s;
}
.profile-list{
     
    visibility: hidden;
    background: #000000;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding:5px 20px;
    width: 100px;
    position: absolute;
       /* 🔹 pushes it down below the profile image */
  right: -40px;   
    /* top: 37px; */
   /* right:205px; */
   cursor: pointer;
}

.navbar-3-2{
    align-items: center;
    position: relative;
    
}
.navbar-3-2:hover .profile-list{
    visibility: visible;
    
    cursor: pointer;
}
.profile-list:hover{
      visibility: visible;
      cursor: pointer;
      color: rgb(102, 196, 255);
}

.navbar-3-2-div{
    align-items: center;
  
}
.profile-list ul {
  list-style-type: none;  
  padding: 0;             
  margin: 0;  
  gap: 10px;

}
.profile-list-li-1{
  text-decoration: none;
  color: rgb(143, 143, 143);
  
  
}
.profile-list-li-1:hover{
  text-decoration: none;
 
 color: aqua;
}