{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partner-Profile</title>
</head>

<link rel="stylesheet" href="{% static 'partner/partner.css'%}">
<body class="partner-body">
    <div class="Partner-profile">

    <div class="partner-profile-1">
        <a href="{% url 'partner-main'%}"><img class="partner-profile-1-img" src="https://cdn-icons-png.flaticon.com/128/2099/2099238.png"  alt=""></a>
        <div class="partner-profile-1-head">Fill your restaurant details to help us verify and set up your partner account</div>
        <div class="partner-profile-1-div">
            <div class="partner-profile-1-div1">
              <div class="partner-profile-1-div1-circle"></div>
              <p class="partner-profile-1-div1-p">Restaurant Details</p>
            </div>
            <div class="partner-profile-1-div2">
                 <div class="partner-profile-1-div1-circle"></div>
              <p class="partner-profile-1-div1-p">Restaurant Location</p>
            </div>
            <div class="partner-profile-1-div3">
                 <div class="partner-profile-1-div1-circle"></div>
              <p class="partner-profile-1-div1-p">Restaurant Timing</p>
            </div>
        </div>

        
    </div>

    <div class="partner-profile-2">
      <div class="partner-profile-2-nav">
        <p class="partner-profile-2-head1">Partner with us</p>
        <hr>
      </div>
      <div class="partner-profile-2-div1">
          <h1 class="partner-profile-2-head2">Complete your Restaurant Profile</h1>
          <form method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
          <div class="partner-profile-2-restaurantdetails">
            <p class="partner-profile-2-restaurant-p"> Restaurant Details </p>
            
            <div class="partner-profile-2-restaurantdetails-div">
                  <div>
                  <h1 class="partner-all-p">Restaurant Name</h1>
                  {{form.Name}}
                  
                  </div>
                  <div>
                    <h1 class="partner-all-p">Restaurant Type</h1>
                      {{form.Restauranttype}}
                  </div>
                   <div>
                    <h1 class="partner-all-p">Restaurant Cuisenes</h1>
                  {{form.Cuisenetypes}}
                  </div>
                  <div>
                    <h1 class="partner-all-p">Description</h1>
                    {{form.description}}
                  </div>
                  <div>
                  <h1 class="partner-all-p">Restaurant Image</h1>

                    {{form.image}}
                  </div>
                  {{form.non_field_errors}}
           
              

            </div>
             
          </div>
           <div class="partner-profile-2-restaurantdetails">
             <p class="partner-profile-2-restaurant-p"> Restaurant Location </p>
             <div class="partner-profile-2-restaurantdetails-div">
              <div>
                  <h1 class="partner-all-p">Location</h1>
              {{form.Location}}
              </div>
              <div>
                  <h1 class="partner-all-p">City</h1>
              {{form.city}}
              </div>
               <div>
                  <h1 class="partner-all-p">State</h1>
               {{form.state}}
              </div>
              <div>
                  <h1 class="partner-all-p">Pincode</h1>
               {{form.pincode}}
              </div>
             

              

              
             
              
              {{form.non_field_errors}}

              
            </div>
          </div>
           <div class="partner-profile-2-restaurantdetails">
             <p class="partner-profile-2-restaurant-p"> Restaurant Timing </p>
             <div class="partner-profile-2-restaurantdetails-div">

               <div>
                  <h1 class="partner-all-p">Deliverytime(min)</h1>
              {{form.deliverytime}}
              </div>
               <div>
                  <h1 class="partner-all-p">Opening Time</h1>
               {{form.Timeopen}}
              </div>

              <div>
                  <h1 class="partner-all-p">Closing Time</h1>
               {{form.Closetime}}
              </div>

               <div class="isopen-flex">
                  <h1 class="partner-all-p">Is open  </h1>
                  {{form.Isopen}}
                 
              </div>

             
              
            
              {{form.non_field_errors}}
              
            </div>
          </div>
          
             <div class="partner-button-flex">
          <button class="partner-profile-submit-button">Save & continue</button>
          </div>
          </form>
          </div>
    </div>
    </div>
</body>
</html>