{% extends "partner/partner-navbar.html" %}

{% block body %}
<div class="partner-menu" id="main-parter">
      <div class="partner-menu-buttons">
            <button class="partner-menu-buttons-i" onclick="opencategory(event) ">Add Category +</button>
            <button class="partner-menu-buttons-i" onclick="openitem(event)">Add Item +</button>
            <div class="partner-add-category-div" id="addcategory" onclick="event.stopPropagation()">
                     <h1 class="partner-add-category-div-elem1">Add Category</h1>
                     <form method="POST">
                        {%csrf_token%}
                     {{form.name}}
                     <button class="partner-add-category-div-elem3" name="add_category">confirm</button>
                     </form>
             </div>

            <div class="partner-add-category-div" id="additem" onclick="event.stopPropagation()">
                     
                     <h1 >Add Item</h1>
                     <form method="POST" enctype="multipart/form-data">
                        {%csrf_token%}
                     <select class="select_category_for_item"  name="category_id">
                        <option class="select_category_for_item">Select Category</option>
                        {% for i in categories %}
                        <option class="select_category_for_item" value="{{i.id}}">{{i.name}}</option>
                        {% endfor%}
                     </select>
                     
                         
                     {{item_form.name}}
                     {{item_form.price}}
                     {{item_form.description}}
                     <div class="food_type">
                     <label for="">Foodtype: </label>
                     {{item_form.food_type}}
                     </div>
                     {{item_form.image}}
                     <button class="partner-add-category-div-elem3" name="add_item">confirm</button>
                     
                     </form>
                  </div>
                  
      </div>
      <div class="partner-menu-data" >

            <div class="partner-menu-data-top">
                  <h1 class="partner-menu-data-top-h">Menu</h1>
                  <img class="partner-menu-data-top-img" src="https://cdn-icons-png.flaticon.com/128/1046/1046747.png">
            </div>
            <hr class="partner-menu-break">

            <div class="partner-menu-data-bottom">
                  <div class="partner-menu-data-category-data">
                        {% for i in categories %}
                        <div class="partner-menu-data-category-data-head" onclick="toggleevent('{{i.id}}_category','{{i.id}}_arrow')">
                              <h1 class="partner-menu-data-category-data-head1">{{i.name}}</h1>
                              <img src="https://cdn-icons-png.flaticon.com/128/32/32195.png" class="partner-menu-data-category-data-head2" id="{{i.id}}_arrow"></img>
                        </div>


                        <div class="partner-menu-data-item-data" id="{{i.id}}_category">
                               {% for j in item_list %}
                               {% if i.id == j.category_id %}
                              <div class="partner-menu-data-item">
                                   <div class="partner-menu-data-item-div1">
                                   <p class="partner-menu-data-item-div1-itemname"  >{{j.name}}</p>
                        
                                   <p class="partner-menu-data-item-div1-itemprice" >{{j.price}}</p>
                                   <p class="partner-menu-data-item-div1-itemdescrip" placeholder="description">{{j.description}}</p>
                                   <p class="partner-menu-data-item-div1-itemtype">
                                   {{j.food_type}}
                                   </p>
                                   <p class="partner-avail" for="">is_available: </p>
                                   <input class="partner-menu-data-item-div1-itemavailable"  type="checkbox" {% if j.is_available %}checked{% endif %} disabled>
                                   
                                   </div>
                                   <div class="partner-menu-data-item-div1-itemaimage" class="partner-menu-data-item-div2">
                                   <img class="partner-menu-data-item-div1-itemaimage1" src="{{j.image.url}}">
                                   <button class="partner-menu-data-item-div1-itemimgchnge" onclick="edit_item( '{{ j.id }}',
                              '{{ j.name|escapejs }}',
                              '{{ j.description }}',
                              '{{ j.price }}',
                                '{{ j.food_type }}',
                              '{{ j.image.url }}',
                               '{{ i.id}}')">Edit item</button>
                                   </div>

                              </div>
                              
                              <hr class="marging-menu-items">
                              {% endif %}
                              {% endfor %}
                        </div>
                        {% endfor %}

                        
                        
                  


                  </div>
            </div>
      </div>
      
</div>

                      <div id="edit_item_div" onclick="event.stopPropagation()">
                       
                       <div class="partner-add-category-div" >
                        <img class="back-edit-item" src="https://cdn-icons-png.flaticon.com/128/3114/3114883.png" alt="" onclick="closeedit()">
                                <h1 >Edit item</h1>
                     <form method="POST" enctype="multipart/form-data">
                        {%csrf_token%}
                     <select class="select_category_for_item" id="cat_name" name="category_id">
                        <option class="select_category_for_item">Select Category</option>
                        {% for i in categories %}
                        <option class="select_category_for_item" value="{{i.id}}">{{i.name}}</option>
                        {% endfor%}
                     </select>
                     
                         
                     {{edit_form.name}}
                     {{edit_form.price}}
                     {{edit_form.description}}
                     <div class="food_type">
                     <label for="">Foodtype: </label>
                     {{edit_form.food_type}}
                     </div>
                     {{edit_form.image}}
                     <button class="partner-add-category-div-elem3"   name="edit_item" id="button-for-edit">confirm</button>
                     
                     </form>
                        </div>
                        </div>


<script>

      if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
      }

     let a =false
      function opencategory(event){
            event.stopPropagation();
            let x=document.getElementById('addcategory')
            let y=document.getElementById('additem')
            
            x.style.display='block'
            y.style.display='none'
            a=true
      }
      function openitem(event){
            event.stopPropagation();
            let x=document.getElementById('addcategory')
            let y=document.getElementById('additem')
            x.style.display='none'
            y.style.display='block'
            a=true
      }

     window.addEventListener('click', function(){
    if(a){
        document.getElementById('addcategory').style.display='none';
        document.getElementById('additem').style.display='none';
        document.getElementById('edit_item_div').style.display='none';
        a = false; 
    }


    


});

function edit_item(id, name,description, price, food_type, imageUrl, categoryName){
     
      let x=document.getElementById("edit_item_div");
      x.style.display="flex";

      let y= document.getElementById('main-parter');
      y.style.opacity="0.3";
      y.style.blur="10px";

        
        document.getElementById('button-for-edit').value=id;
      document.getElementById("edit_name").value = name;
      document.getElementById("edit_description").value = description;
      document.getElementById("edit_price").value = price;
      document.getElementById("edit_food_type").value = food_type;
       document.getElementById("cat_name").value = categoryName; 

    }

    function closeedit(){
      let x=document.getElementById("edit_item_div");
      x.style.display="none";

      let y= document.getElementById('main-parter');
      y.style.opacity="1";
     
    }

    function toggleevent(cat_id,arrow){
        console.log("clicked")
        let el=document.getElementById(cat_id);
        let a=document.getElementById(arrow);
        if (el.style.display === "none") {
        el.style.display = "block";
      //    el.style.height = el.scrollHeight + "px";
        
        a.style.transform = "rotate(180deg)";
    } else {
        el.style.display = "none";
      //  el.style.height = "0px";
        a.style.transform = "rotate(0deg)";
       
    }
    }



      
</script>
{% endblock %}