{% extends "partner/partner-navbar.html" %}
 {% block body %}
<div class="partner-main">
  <div class="partner-main-div1">
    <img
      class="partner-main-div1-1"
      src="https://cdn-icons-png.flaticon.com/128/271/271220.png"
    />
    <h1 class="partner-main-div1-2">Today</h1>
    <img
      class="partner-main-div1-1"
      src="https://cdn-icons-png.flaticon.com/128/5343/5343102.png"
    />
  </div>

  <div class="partner-main-div2">
    <div class="partner-main-div2-elem1">
      <h1 class="partner-main-div2-elem1-1">Today's Orders</h1>
      <h1 class="partner-main-div2-elem1-2">10</h1>
    </div>

    <div class="partner-main-div2-elem2">
      <h1 class="partner-main-div2-elem1-1">Today's revenue</h1>
      <h1 class="partner-main-div2-elem1-2">10</h1>
    </div>
    <div class="partner-main-div2-elem3">
      <h1 class="partner-main-div2-elem1-1">Pending Orders</h1>
      <h1 class="partner-main-div2-elem1-2">10</h1>
    </div>
    <div class="partner-main-div2-elem4">
      <h1 class="partner-main-div2-elem1-1">Today's Ratings</h1>
      <h1 class="partner-main-div2-elem1-2">10</h1>
    </div>
  </div>
</div>
{% endblock %}
