{% extends "partner/partner-navbar.html" %}

{% block body %}
<div class="partner-menu">
      <div class="partner-menu-buttons">
            <button class="partner-menu-buttons-i" onclick="opencategory(event) ">Add Category +</button>
            <button class="partner-menu-buttons-i" onclick="openitem(event)">Add Item +</button>
            <div class="partner-add-category-div" id="addcategory" onclick="event.stopPropagation()">
                     <h1 class="partner-add-category-div-elem1">Add Category</h1>
                     <form method="POST">
                        {%csrf_token%}
                     {{form.name}}
                     <button class="partner-add-category-div-elem3" name="add_category">confirm</button>
                     </form>
      </div>

             <div class="partner-add-category-div" id="additem" onclick="event.stopPropagation()">
                     
                     <h1 >Add Item</h1>
                     <form method="POST" enctype="multipart/form-data">
                        {%csrf_token%}
                     <select class="select_category_for_item" name="category_id">
                        <option class="select_category_for_item">Select Category</option>
                        {% for i in categories %}
                        <option class="select_category_for_item" value="{{i.id}}">{{i.name}}</option>
                        {% endfor%}
                     </select>
                     
                         
                     {{item_form.name}}
                     {{item_form.price}}
                     {{item_form.description}}
                     <div class="food_type">
                     <label for="">Foodtype: </label>
                     {{item_form.food_type}}
                     </div>
                     {{item_form.image}}
                     <button class="partner-add-category-div-elem3" name="add_item">confirm</button>
                     
                     </form>
                  </div>
                  
      </div>
      <div class="partner-menu-data" >

            <div class="partner-menu-data-top">
                  <h1 class="partner-menu-data-top-h">Menu</h1>
                  <img class="partner-menu-data-top-img" src="https://cdn-icons-png.flaticon.com/128/1046/1046747.png">
            </div>
            <hr class="partner-menu-break">

            <div class="partner-menu-data-bottom">
                  <div class="partner-menu-data-category-data">
                        {% for i in categories %}
                        <div class="partner-menu-data-category-data-head">
                              <h1 class="partner-menu-data-category-data-head1">{{i.name}}</h1>
                              <img src="https://cdn-icons-png.flaticon.com/128/32/32195.png" class="partner-menu-data-category-data-head2"></img>
                        </div>
                       
                        <div class="partner-menu-data-item-data">
                               {% for j in item_list %}
                              <div class="partner-menu-data-item">
                                   <div class="partner-menu-data-item-div1">
                                   <p class="partner-menu-data-item-div1-itemname"  >{{j.name}}</p>
                        
                                   <p class="partner-menu-data-item-div1-itemprice" >{{j.price}}</p>
                                   <p class="partner-menu-data-item-div1-itemdescrip" placeholder="description">{{j.description}}</p>
                                   <p class="partner-menu-data-item-div1-itemtype">
                                   {{j.food_type}}
                                   </p>
                                   <label for="">is_available: <input class="partner-menu-data-item-div1-itemavailable"  type="checkbox" {% if j.is_available %}checked{% endif %} disabled></label>
                                   
                                   </div>
                                   <div class="partner-menu-data-item-div1-itemaimage" class="partner-menu-data-item-div2">
                                   <img class="partner-menu-data-item-div1-itemaimage1" src="{{j.image.url}}">
                                   <button class="partner-menu-data-item-div1-itemimgchnge">Edit item</button>
                                   </div>

                              </div>
                              
                              <hr class="marging-menu-items">
                              {% endfor %}
                        </div>
                        {% endfor %}

                        <div class="partner-add-category-div-new" id="additem" onclick="event.stopPropagation()">
                     
                     <h1 >Add Item</h1>
                     <form method="POST" enctype="multipart/form-data">
                        {%csrf_token%}
                     <select class="select_category_for_item" name="category_id">
                        <option class="select_category_for_item">Select Category</option>
                        {% for i in categories %}
                        <option class="select_category_for_item" value="{{i.id}}">{{i.name}}</option>
                        {% endfor%}
                     </select>
                     
                         
                     {{item_form.name}}
                     {{item_form.price}}
                     {{item_form.description}}
                     <div class="food_type">
                     <label for="">Foodtype: </label>
                     {{item_form.food_type}}
                     </div>
                     {{item_form.image}}
                     <button class="partner-add-category-div-elem3" name="add_item">confirm</button>
                     
                     </form>
                  </div>
                  


                  </div>
            </div>
      </div>
      
</div>
<script>

      if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
      }

     let a =false
      function opencategory(event){
            event.stopPropagation();
            let x=document.getElementById('addcategory')
            let y=document.getElementById('additem')
            
            x.style.display='block'
            y.style.display='none'
            a=true
      }
      function openitem(event){
            event.stopPropagation();
            let x=document.getElementById('addcategory')
            let y=document.getElementById('additem')
            x.style.display='none'
            y.style.display='block'
            a=true
      }

     window.addEventListener('click', function(){
    if(a){
        document.getElementById('addcategory').style.display='none';
        document.getElementById('additem').style.display='none';
        a = false; 
    }
});


      
</script>
{% endblock %}