{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'partner/partner.css'%}" />
  </head>
  <body>
    <div class="bg"></div>
    <div class="logo">
      <img
        class="partner-app-logo"
        src="{% static 'partner/logo.png'%}"
        alt="logo"
      />
      <span class="partner-app-head">PARTNER WITH FOODISH!</span>
      <hr class="partner-app-hr" />

      <div class="partner-app-head-changelines">
        <span class="partner-app-head-changelines-line" id="x"
          >Access to Foody tools and support
        </span>
      </div>

      <div class="partner-login">
        <h3 class="partner-login-head">Login</h3>
        <p class="partner-login-p1">
          Enter a mobile number or restaurant ID to continue
        </p>

        <form method="post">
          {% csrf_token %} {{ form.non_field_errors }}

          <div>{{ form.phone.errors }} {{ form.phone }}</div>

          <div>{{ form.password.errors }} {{ form.password }}</div>

          <button class="partner-login-button">Continue</button>
        </form>
        <a class="loginhref" href="{% url 'partner'%}">Sign in</a>

        <p class="partner-login-p2">
          By logging in, I agree to Foody’s terms & conditions
        </p>
      </div>
    </div>

    <script>
      if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
      }

      a = [
        "Increase your online orders",
        "Access to Foody tools and support",
        "Reach customers far away from you",
      ];

      let y = document.getElementById("x");
      setInterval(() => {
        let pop = a.shift();
        y.textContent = pop;
        a.push(pop);
      }, 2000);
    </script>
  </body>
</html>
