.Restaurant-page{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 100px 320px 30px 1fr;
}
.Restaurant-data{
    display: flex;
    grid-column: 2/3;
    grid-row: 2/4;
     border:0.3px solid rgb(198, 197, 197);
    box-shadow: 1px 1px 10px 1px rgb(157, 203, 255);
    border-radius: 10px;
    height: 270px;
    justify-content: space-between;
   
      padding:10px 5px;
}
.Restaurant-data-div1{
    padding: 5px 10px ;
}

.Restaurant-data-div1-heading{
    font-family: sans-serif;
    background: linear-gradient(90deg,#262525,#5c5c5c);
    width: fit-content;
    -webkit-background-clip: text;
    color: transparent;
}
.Restaurant-data-div1-div1{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.Restaurant-data-div1-div1-img{
  width:20px;
  height: 20px;
}
.Restaurant-data-div1-div2-div{
    display: flex;
      align-items: center;
      gap: 20px;
      margin-top: 20px;
}
.Restaurant-data-div1-div2-img{
     width: 30px ;
     height: 30px;
}
.Restaurant-data-div1-div2-div2{
    
    display: flex;
    align-items: center;
    gap: 20px;
}
.Restaurant-data-div1-div2-div-down{
display: inline;
width: 15px;
height: 16px;
transition: transform ease-in-out 0.1s;

}
.Restaurant-data-div1-div2-div-down:hover{
    transform: rotate(180deg);
    cursor: pointer;
    

}
.Restaurant-data-div1-div2-div-resname-name{
    color: rgb(44, 164, 244);
}
.Restaurant-data-div1-div2-div-resname{
    display: flex;
    align-items: center;
    gap: 5px;
}

.Restaurant-data-offers-heading{
    font-size: larger;
}
.Restaurant-data-offers{
   margin-top: 10px;
   
}
.Restaurant-data-offers-list{
    display: flex;
    width: 400px;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    align-items: center;
}
.Restaurant-data-offers-list-data{
 flex: 0 0 150px;     /* fixed width, no shrinking */
    height: 50px;       /* fixed height */
    
    border: 0.1px solid rgb(194, 190, 190);
    border-radius: 10px;

    display: flex;
    flex-direction: column;    /* image & text one below another */
    justify-content: center;
    align-items: center;

    padding: 1px 10px; 
    background: white;
  cursor: pointer;
  transition: all ease-in-out 0.3px;
}
.Restaurant-data-offers-list-data:hover{
    background-color: #f0f0f0;
    
}

.Restaurant-data-offers-list-data-img{
    width: 30px;
    height: 30px;
}
.main3-div2-arrows{
     margin-inline: 15px;
    width: 20px;
   gap: 40px;
   border-radius: 20px;
   padding: 6px;
   cursor: pointer;
   border: 0.1px solid rgb(195, 192, 192);
   transition:all ease-in-out 0.4s
}
.main3-div2-arrows:hover{
    
   cursor: pointer;
   background-color:  rgb(151, 199, 251);
}
.Restaurant-data-offers-main{
    overflow-x: auto;
    display: flex;
    gap: 10px;
    width: 400px;
     overflow-x: auto;
   scroll-behavior: smooth;
   scrollbar-width: none;
}

.Restaurant-data-div2{
    display: flex;
    align-items: center;
    
}
.Restaurant-data-div2-img{
    height: 280px;
    width: 400px;
    box-shadow: 1px 1px 20px 2px #858484;
    border-radius: 10px;
}
.Restaurant-menu{
    display: flex;
    justify-content: center;
grid-column: 2/3;
    grid-row: 3/4;
    align-items: center;
}
.Restaurant-menu-div{
     display: flex;
    justify-content: center;
     gap: 6px;
    align-items: center;
}
.Restaurant-menu-img{
   height: 40px;
}
.Restaurant-menu-div-menu{
    font-size: larger;
}
.Restaurant-menu-div-hr{
 width: 200%;
  border: none;
  border-top: 1px solid #ccc;
  flex-shrink: 0;
  display: block;
}
.Restaurant-menu-main{
    grid-column: 2/3;
    grid-row: 4/4;
}
.Restaurant-menu-main-search{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d1eaff;
    border: 0.2px solid rgb(213, 212, 212);
    width: 350px;
    height: 30px;
    gap: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #858484;
    margin-bottom: 20px;
}
.Restaurant-menu-main-search:hover{
    background-color: #a9d1f3;
    color: #262525;
}
.Restaurant-menu-main-search-img{
    width: 15px;
    height: 18px;
   margin-top: 3px;
}
.Restaurant-menu-main-hr12{
    margin-top: 10px;
    border: 1px solid rgb(225, 223, 223);

}
.Restaurant-menu-main-sort-img{
    width: 20px;
    height: 20px;
}
.Restaurant-menu-main-sort{
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.Restaurant-menu-main-sort-div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.Restaurant-menu-main-sort-div-input{
    width: 10px;
    height: 10px;
    border:1.5px solid #262525;
    border-radius: 20px;
   cursor: pointer;
}