{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'navbar.css'%}" />
    {% block css%} {%endblock%}
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-foody-and-location">
      <a href="{% url 'home' %}" class="navbar-1">
        <img
          class="navbar-1-logo"
          src="https://cdn-icons-png.flaticon.com/128/9526/9526193.png"
          alt="logo"
        />
        <p class="navbar-1-logo-label">Foody</p>
      </a>

      <div class="navbar-2">
        <img
          class="navbar-2-location"
          src="https://cdn-icons-png.flaticon.com/128/535/535239.png"
          alt="location"
        />
        <a class="navbar-2-other" onclick="openlocation()">location</a>
      </div>
      </div>

      <div class="navbar-3">
        <div class="navbar-3-1">
          <img
            class="navbar-3-search"
            src="https://cdn-icons-png.flaticon.com/128/151/151773.png"
            alt="searchlogo"
          />
          <input class="navbar-3-input" type="search" placeholder="search" />
        </div>
         <div class="navbar-4">
        <img
          class="navbar-4-wheel"
          src="https://cdn-icons-png.flaticon.com/128/8216/8216411.png"
          alt="location"
        />
        <a href="{% url 'meal' %}" class="navbar-4-name">MealWheel</a>
      </div>


        
        <div class="navbar-3-2">
          <img
            class="navbar-3-profile"
            src="https://cdn-icons-png.flaticon.com/128/1077/1077114.png"
            alt="profile"
          />
        
  {% if not user.is_authenticated %}
    <a class="navbar-signin" href="{% url 'register' %}"> Sign in </a>
  {% else %}
    <div class="navbar-3-2-div">
      <h3 class="navbar-signin">{{ user.username }}</h3>
      <div class="profile-list">
        <ul>
          <li >
            <a class="profile-list-li-1" href="{% url 'logout' %}">⬅️ &nbsp;  Logout</a>
          </li>
        </ul>
      </div>
    </div>
  {% endif %}
</div>

        <div class="navbar-3-3">
          <img
            class="navbar-3-cart"
            src="https://cdn-icons-png.flaticon.com/128/5337/5337564.png"
            alt="cart"
          />
          <a class="navbar-3-3-cart" href="{% url 'cart' %}">cart</a>
        </div>
        
    </div>

    <div>
      {% if not request.session.username %}
       <a href="{% url 'partner' %}" class="navbar-5-name">Partner with us</a>


      {% else %}  
         <a href="{% url 'partner-main' %}" class="navbar-5-name">Partner with us</a>


      {% endif %}
       
       
  
    </div>

      </div>

    </div>

    {% block body%} {% endblock %}
   

    <script>
        window.addEventListener("scroll", () => {
                 console.log(window.scrollY);
                   let a = document.querySelector(".navbar");
                 if(window.scrollY==0){
                   a=document.querySelector(".navbar-onscroll");
                   a.className="navbar"
                   console.log(a);
                 }
                 else{
                     a=document.querySelector(".navbar");
                     a.className="navbar-onscroll"
                    console.log(a);
                 }
         });


         
         


    </script>
  </body>
</html>
