{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'navbar.css'%}" />
    {% block css%} {%endblock%}
  </head>
  <body>
    <div class="navbar-cart">
      <a href="{% url 'home' %}" class="navbar-1">
        <img
          class="navbar-1-logo"
          src="https://cdn-icons-png.flaticon.com/128/9526/9526193.png"
          alt="logo"
        />
        <p>Foody</p>
      </a>

     

     <div class="navbar-3-2">
          <img
            class="navbar-3-profile"
            src="https://cdn-icons-png.flaticon.com/128/1077/1077114.png"
            alt="profile"
          /> 
  {% if not user.is_authenticated %}
    <a class="navbar-signin" href="{% url 'register' %}"> Sign in </a>
  {% else %}
    <div class="navbar-3-2-div">
      <h3 class="navbar-signin">{{ user.username }}</h3>
      <div class="profile-list">
        <ul>
          <li >
            <a class="profile-list-li-1" href="{% url 'logout' %}">⬅️ &nbsp;  Logout</a>
          </li>
        </ul>
      </div>
    </div>
  {% endif %}
</div>
    </div>

       
    {% block body%} {% endblock %}

  </body>
</html>
